<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">

    <div class="max-w-screen-lg ma" th:if="${orderInfo != null}" th:object="${orderInfo}">
        <h1 th:text="#{주문상세}"></h1>
        <div>
            <span th:text="#{주문번호}"></span>
            :
            <span th:text="*{orderNo}"></span>
        </div>
        <table class="order_detail table_cols mb30">
            <colgroup>
                <col>
                <col style="width:120px">
                <col style="width:120px">
            </colgroup>
            <thead>
                <tr>
                    <th>상품</th>
                    <th>농부</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <th:block th:replace="~{front/member/mypage/_order_form::table_body}"></th:block>
            </tbody>
        </table>
        <div class="order-title">
            <h2 th:text="#{배송정보}"></h2>
        </div>
        <table class="table-style-head-left table_cols mb30">
            <tr>
                <th th:text="#{이름}"></th>
                <td th:text="*{receiverName}"></td>
            </tr>
            <tr>
                <th th:text="#{전화번호}"></th>
                <td th:text="*{receiverCellphone}"></td>
            </tr>
            <tr>
                <th th:text="#{주소}"></th>
                <td th:if="*{addressSub == null}" th:text="*{address}"></td>
                <td th:if="*{addressSub != null}" th:text="*{address + ' ' + addressSub }"></td>
            </tr>
        </table>
        <div class="payInfo">
            <div class="order-title">
            <h2 th:text="#{결제정보}"></h2>
            </div>
            <div class="order-result root">
            <!-- 결제 상품들 나열 -->
                <div class="row">
                    <div class="col order-result">
                       <div class="farmer_item" th:each="item : *{orderItems}" th:object="${item}">
                           <div class="farmer_name" th:text="*{product.farmer.farmTitle}"></div>
                           <div class="value_list">
                               <!-- 상품당 결제가격 -->
                               <div class="value_item">
                                   <div th:if="*{optionName != null}" th:text="*{optionName}" class="value_name"></div>
                                   <div th:unless="*{optionName != null}" th:text="*{product.name}" class="value_name"></div>
                                   <div class="value_price">
                                       <span class="money" th:text="*{totalPrice}"></span>
                                       <span th:text="#{돈단위}"></span>
                                   </div>
                               </div>
                               <!-- 상품당 배송비-->
                               <div class="value_item">
                                   <div class="value_name" th:text="#{배송비}"></div>
                                   <div class="value_price">
                                       <span class="money" th:text="*{product.deliveryPrice}"></span>
                                       <span th:text="#{돈단위}"></span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                <!-- 전체 요약 -->
                    <div class="col no-spacing ">
                        <div class="row result_list">
                            <div class="value_item">
                                <div class="value_name" th:text="#{상품금액}"></div>
                                <div class="value_price">
                                    <span class="money" th:text="*{totalPrice}"></span>
                                    <span th:text="#{돈단위}"></span>
                                </div>
                            </div>
                            <div class="value_item">
                                <div class="value_name" th:text="#{배송비}"></div>
                                <div class="value_price">
                                    <span class="money" th:text="*{totalDeliveryPrice}"></span>
                                    <span th:text="#{돈단위}"></span>
                                </div>
                            </div>
                            <div class="value_item">
                                <div class="value_name" th:text="#{할인금액}"></div>
                                <div class="value_price">
                                    <span class="money" th:text="*{totalDiscount}"></span>
                                    <span th:text="#{돈단위}"></span>
                                </div>
                            </div>
                            <div class="value_item" th:if="${@memberUtil.isLogin()}">
                                <div class="value_name" th:text="#{포인트사용}"></div>
                                <div class="value_price">
                                <span class="money" th:if="*{usePoint != null}" th:text="*{usePoint}"></span>
                                <span th:unless="*{usePoint != null}">0</span>
                                <span th:text="#{돈단위}"></span>
                            </div>
                            </div>
                        </div>
                        <!-- 포인트 -->
                        <div class="row point" th:if="${@memberUtil.isLogin()}">
                            <div class="clf">
                                <b class="fl pb" th:text="#{포인트적립}"></b>
                                <div class="fr pb">
                                    <b class="highlight pink" th:if="${getPoint != null }"th:text="${getPoint+'P'}"></b>
                                    <b class="highlight pink" th:unless="${getPoint != null }">0P</b>
                                </div>
                                <div class="fl" th:text="#{적립기준}"></div>
                                <div class="fr" th:text="#{적립기준_상세}"></div>
                                <div class="fl" th:text="#{가용시점}"></div>
                                <div class="fr" th:text="#{가용시점_상세}"></div>
                                <div class="fl" th:text="#{유효기간}"></div>
                                <div class="fr" th:text="#{유효기간_상세}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col total_payment">
                        <div class="order_flex">
                            <div class="order_name" th:text="#{총결제금액}"></div>
                            <div class="order_price">
                                <span class="money" th:text="*{payPrice}"></span>
                                <span th:text="#{돈단위}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
        </div>
            </div>
        </div>
    </div>
</main>
</html>