<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{주문서_작성}"></h1>

    <form name="frmOrder" method="post" th:action="@{/order}" autocomplete="off" >

        <h2 th:text="#{주문_상품}"></h2>

        <th:block th:replace="~{front/cart/_items::items}"></th:block>

        <h2 th:text="#{주문자_정보}"></h2>

        <table class="table_order">
            <tr>
                <th th:text="#{주문자_이름}"></th>
                <td>
                    <input type="text" name="orderName">
                </td>
            </tr>
            <tr>
                <th th:text="#{휴대전화번호}"></th>
                <td>
                    <input type="text" name="orderCellPhone">
                </td>
            </tr>

            <tr>
                <th th:text="#{이메일}"></th>
                <td>
                    <input type="text" name="orderEmail">
                </td>
            </tr>

        </table>

        <h2 th:text="#{받는분_정보}"></h2>
        <table class="table_order">
            <tr>
                <th th:text="#{받는분_이름}"></th>
                <td>
                    <input type="text" name="receiverName">
                </td>
            </tr>
            <tr>
                <th th:text="#{휴대전화번호}"></th>
                <td>
                    <input type="text" name="receiverCellPhone">
                </td>
            </tr>
            <tr>
                <th th:text="#{배송_주소}"></th>
                <td>
                    <div class="address_rows">
                        <input type="text" name="zonecode" th:placeholder="#{우편번호}" readonly id="zonecode">
                        <button type="button" class="search_address" data-zonecode-id="zonecode" data-address-id="address">
                            <i class="xi-search"></i>
                            <th:block th:text="#{주소_찾기}"></th:block>
                        </button>
                    </div>

                    <div class="address_rows">
                        <input type="text" name="address" th:placeholder="#{주소}" readonly id="address">
                    </div>

                    <div class="address_rows">
                        <input type="text" name="addressSub" th:pleaceholder="#{나머지_주소}" readonly>
                    </div>
                </td>
            </tr>

            <tr>
                <th th:text="#{배송_메세지}"></th>
                <td>
                    <input type="text" name="deliveryMemo">
                </td>
            </tr>
        </table>

        <h2 th:text="#{결제_정보}"></h2>
        <table class="table_order">
            <tr>
                <th th:text="#{상품합계}"></th>
                <td>
                    <span class="money" th:text="*{totalPrice}"></span>
                    <th:block th:text="#{원}"></th:block>
                </td>
            </tr>
            <tr>
                <th th:text="#{배송비}"></th>
                <td>
                    <th:block th:if="*{totalDeliveryPrice > 0}">
                        <span class="money" th:text="*{totalDeliveryPrice}"></span>
                        <th:block th:text="#{원}"></th:block>
                    </th:block>
                    <th:block th:unless="*{totalDeliveryPrice > 0}" th:text="#{무료배송}"></th:block>
                </td>
            </tr>

            <tr th:if="*{totalDiscount > 0}">
                <th th:text="#{상품할인}"></th>
                <td>
                    <span class="money" th:text="*{totalDiscount * -1}"></span>
                    <th:block th:text="#{원}"></th:block>
                </td>
            </tr>
            <tr>
                <th th:text="#{결제금액}"></th>
                <td>
                    <span  class="money" th:text="*{payPrice}"></span>
                    <th:block th:text="#{원}"></th:block>
                </td>
            </tr>
            <tr>
                <th th:text="#{결제약관_동의}"></th>
                <td>
                    <textarea></textarea>
                    <input type="checkbox" value="true" name="agree" id="agree">
                    <label for="agree" th:text="#{결제약관_동의_체크}"></label>
                </td>
            </tr>
        </table>


    </form>
</main>
</html>