<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<th:block layout:fragment="addScript">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script th:src="@{/front/js/order/order_form.js}"></script>
</th:block>
<main layout:fragment="content">
    <div class="max-w-screen-lg ma">
    <h2 class="title" th:text="#{주문서_작성}"></h2>

    <form  name="frmOrder" method="post" th:action="@{/order}" autocomplete="off" th:object="${cartData}">
        <input type="hidden" name="totalPrice" th:field="*{totalPrice}">
        <input type="hidden" name="totalDeliveryPrice" th:field="*{totalDeliveryPrice}">
        <input type="hidden" name="totalDiscount" th:field="*{totalDiscount}">
        <input type="hidden" name="cartType" th:value="${cartType}">

        <div>
            <div class="order_list_title" th:text="#{주문_상품}"></div>

            <th:block th:replace="~{front/cart/_items::items}"></th:block>
        </div>
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <div th:object="${requestOrder}">
            <article>
            <div class="order_list_title" th:text="#{주문자_정보}"></div>

            <table class="table_order">
                <tr>
                    <th class="table_head" th:text="#{주문자_이름}"></th>
                    <th:block th:if="${@memberUtil.isLogin()}">
                        <td>
                            <input type="text" name="orderName" th:value="${session.member.username}" readonly id="orderName">
                        </td>
                    </th:block>
                    <th:block th:unless="${@memberUtil.isLogin()}">
                        <td>
                            <input type="text" name="orderName" id="orderName" th:field="*{orderName}">
                            <div class="error" th:if="${#fields.hasErrors('orderName')}" th:each="err : ${#fields.errors('orderName')}" th:text="${err}"></div>
                        </td>
                    </th:block>
                </tr>
                <tr>
                    <th class="table_head" th:text="#{휴대전화번호}"></th>
                    <th:block th:if="${@memberUtil.isLogin()}">
                        <td>
                            <input type="text" name="orderCellPhone1" th:value="${session.member.tel}" style="width:70px" maxlength="4" readonly id="orderCellPhone1" oninput="autoHyphen(this)">
                            -
                            <input type="text" name="orderCellPhone2" th:value="${session.member.tel}" style="width:70px" maxlength="4" readonly id="orderCellPhone2" oninput="autoHyphen(this)">
                            -
                            <input type="text" name="orderCellPhone3" th:value="${session.member.tel}" style="width:70px" maxlength="4" readonly id="orderCellPhone3" oninput="autoHyphen(this)">
                        </td>
                    </th:block>
                    <th:block th:unless="${@memberUtil.isLogin()}">
                        <td>
                            <input type="text" name="orderCellPhone" id="orderCellPhone" oninput="autoHyphen(this)" th:field="*{orderCellPhone}">
                            <div class="error" th:each="err : ${#fields.errors('orderCellPhone')}" th:text="${err}"></div>
                        </td>
                    </th:block>
                </tr>

                <tr>
                    <th class="table_head" th:text="#{이메일}"></th>
                    <th:block th:if="${@memberUtil.isLogin()}">
                        <td>
                            <input type="text" name="orderEmail" th:value="${session.member.email}" readonly id="orderEmail">
                        </td>
                    </th:block>
                    <th:block th:unless="${@memberUtil.isLogin()}">
                        <td>
                            <input type="text" name="orderEmail" id="orderEmail" th:field="*{orderEmail}">
                            <div class="error" th:each="err : ${#fields.errors('orderEmail')}" th:text="${err}"></div>
                        </td>
                    </th:block>
                </tr>

            </table>
            </article>

            <article>
            <div class="order_list_title" th:text="#{받는분_정보}"></div>
            <table class="table_order">
                <input type="checkbox" name="eqOrder" id="eqOrder">
                <label for="eqOrder" th:text="#{주문자와_동일}"></label>
                <tr>
                    <th class="table_head" th:text="#{받는분_이름}"></th>
                    <td>
                        <input type="text" name="receiverName" id="receiverName" th:field="*{receiverName}">
                        <div class="error" th:each="err : ${#fields.errors('receiverName')}" th:text="${err}"></div>
                    </td>
                </tr>
                <tr>
                    <th class="table_head" th:text="#{휴대전화번호}"></th>
                    <td>
                        <input type="text" name="receiverCellPhone1" id="receiverCellPhone1" oninput="autoHyphen(this)" style="width:70px" maxlength="3" th:field="*{receiverCellPhone}">
                        -
                        <input type="text" name="receiverCellPhone2" id="receiverCellPhone2" oninput="autoHyphen(this)" style="width:70px" maxlength="4" th:field="*{receiverCellPhone}">
                        -
                        <input type="text" name="receiverCellPhone3" id="receiverCellPhone3" oninput="autoHyphen(this)" style="width:70px" maxlength="4" th:field="*{receiverCellPhone}">
                        <div class="error" th:each="err : ${#fields.errors('receiverCellPhone')}" th:text="${err}"></div>
                    </td>
                </tr>
                <tr>
                    <th class="table_head" th:text="#{배송_주소}"></th>
                    <td th:if="${addr != null}"}>
                        <button type="button" class="search_address" data-zonecode-id="zonecode" data-address-id="address">
                            <i class="xi-search"></i>
                            <th:block th:text="#{주소_찾기}"></th:block>
                        </button>
                        <div class="address_rows">
                            <input type="text" name="zoneCode" th:placeholder="#{우편번호}" readonly id="zonecode" th:value="${addr.zoneCode}">
                            <div class="error" th:each="err : ${#fields.errors('zoneCode')}" th:text="${err}"></div>
                        </div>

                        <div class="address_rows">
                            <input style="width:70%" type="text" name="address" th:placeholder="#{주소}" readonly id="address" th:value="${addr.address}">
                            <div class="error" th:each="err : ${#fields.errors('address')}" th:text="${err}"></div>
                        </div>

                        <div class="address_rows">
                            <input style="width:70%" type="text" name="addressSub" th:pleaceholder="#{나머지_주소}" th:value="${addr.addressSub}">
                        </div>
                    </td>
                    <td th:unless="${addr != null}"}>
                        <div class="address_rows">
                            <input type="text" name="zoneCode" th:placeholder="#{우편번호}" readonly id="zonecode" th:field="*{zoneCode}">
                            <div class="error" th:each="err : ${#fields.errors('zoneCode')}" th:text="${err}"></div>
                            <button type="button" class="btn search_address" data-zonecode-id="zonecode" data-address-id="address">
                                <i id="xi-search" class="xi-search"></i>
                                <th:block th:text="#{주소_찾기}"></th:block>
                            </button>
                        </div>

                        <div class="address_rows">
                            <input type="text" name="address" th:placeholder="#{주소}" readonly id="address" th:field="*{address}" >
                            <div class="error" th:each="err : ${#fields.errors('address')}" th:text="${err}"></div>
                        </div>

                        <div class="address_rows">
                            <input type="text" name="addressSub" th:pleaceholder="#{나머지_주소}" th:field="*{addressSub}">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="table_head" th:text="#{배송_메세지}"></th>
                    <td>
                        <input type="text" name="deliveryMemo">
                    </td>
                </tr>
            </table>
            </article>

            <article>
            <div class="order_list_title" th:text="#{결제_정보}"></div>
            <table class="table_order">
                <tr>
                    <th class="table_head" th:text="#{상품합계}"></th>
                    <td>
                        <span class="money" id="total_price" th:text="${cartData.totalPrice}"></span>
                        <th:block th:text="#{돈단위}"></th:block>
                    </td>
                </tr>
                <tr>
                    <th class="table_head" th:text="#{배송비}"></th>
                    <td>
                        <th:block th:if="${cartData.totalDeliveryPrice > 0}">
                            <span class="money" th:text="${cartData.totalDeliveryPrice}"></span>
                            <th:block th:text="#{돈단위}"></th:block>
                        </th:block>
                        <th:block th:unless="${cartData.totalDeliveryPrice > 0}" th:text="#{무료배송}"></th:block>
                    </td>
                </tr>

                <tr th:if="${cartData.totalDiscount > 0}">
                    <th class="table_head" th:text="#{상품할인}"></th>
                    <td>
                        <span class="money" th:text="${cartData.totalDiscount * -1}"></span>
                        <th:block th:text="#{돈단위}"></th:block>
                    </td>
                </tr>

                <tr th:if="${@memberUtil.isLogin()}">
                    <th class="table_head" th:text="#{포인트_사용}"></th>
                    <td>
                        <span th:text="#{보유포인트}"></span>
                        :
                        <span id="avail_point" class="money" th:text="${point}"></span><br/>
                        <input type="number" name="usePoint" min="0" id="use_point" th:field="*{usePoint}">
                        <div class="error" th:each="err : ${#fields.errors('usePoint')}" th:text="${err}"></div>
                        <button type="button" id="pointBtn" class="sbtn" th:text="#{적용하기}"></button>
                        <div class="auth_box"></div>
                    </td>
                </tr>

                <tr>
                    <th class="table_head" th:text="#{결제금액}"></th>
                    <td>
                        <span id="pay_price" class="money" th:text="${cartData.payPrice}"></span>
                        <th:block th:text="#{돈단위}"></th:block>
                    </td>
                </tr>
                <tr>
                    <th class="table_head" th:text="#{결제약관_동의}"></th>
                    <td>
                        <textarea th:text="${paymentConfig.personalInfoEntrust}" readonly></textarea>
                        <input type="checkbox" value="true" name="agree" id="agree" th:field="*{agree}">
                        <label for="agree" th:text="#{동의}"></label>
                        <div class="error" th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
                    </td>
                </tr>
            </table>
            </article>
        </div>
        <button type="submit" class="sbtn">결제하기</button>
    </form>
    </div>
</main>
</html>