<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div class="flex max-w-screen-lg ma">
        <div class="farmRanking">
            <h2 class="lank_title">농장 랭킹</h2>
            <div th:if="${!#arrays.isEmpty(farmers)}" class="farmerBox" th:each="farm, status : *{farmers[0]}" th:object="${farm}">

                <a class="best_lank first_lank flex" th:href="@{/farm/blog/{id}(id=*{userId})}">
                    <div class="lank">
                        <img th:src="'../image/ranking-01.png'">
                    </div>
                    <div class="lank_text flex">
                        <strong th:text="${farmerCount.get(farm.seq)}"></strong>
                        <div th:text="*{farmTitle}"></div>
                    </div>
                    <div class="imgBox">
                        <th:block th:if="*{profileImage != null}" th:utext="*{@utils.printThumb(profileImage.seq, 100, 100)}"></th:block>
                        <th:block th:unless="*{profileImage != null}" width="100" height="100"></th:block>
                    </div>
                </a>
            </div>
            <section th:replace="~{front/outlines/_best_farm::farm}"></section>
        </div>
        <div class="center-line"></div>
        <div class="recipeRanking">
            <h2 class="lank_title">레시피 랭킹</h2>
            <div class="recipeBox" th:each="recipe, status : ${recipes[0]}" th:object="${recipe}">
                <a class="best_lank first_lank flex"  th:href="@{/recipe/view/{seq}(seq=*{seq})}">
                    <div class="recipeImg">
                        <th:block th:if="*{mainImages != null && !mainImages.isEmpty()}" th:utext="*{@utils.printThumb(mainImages[0].seq, 500, 500)}"></th:block>
                    </div>
                    <div class="lank_text">
                        <div>
                            <strong type="text" th:text="*{rcpName}"></strong>
                            <div th:text="#{좋아요} + ${recipeCount.get(recipe)}"></div>
                        </div>
                        <div th:if="*{requiredIngP != null}" th:each="required : *{requiredIngP}">
                            <span th:text="${required}"></span>
                        </div>
                    </div>
                    <div class="writer">
                        <div th:text="*{member.nickname}"></div>
                        <div class="imgBox">
                            <th:block th:if="*{profileImage != null}" th:utext="*{@utils.printThumb(profileImage.seq, 100, 100)}"></th:block>
                            <th:block th:unless="*{profileImage != null}" width="100" height="100"></th:block>
                        </div>
                    </div>
                </a>
            </div>
            <section th:replace="~{front/outlines/_best_recipe::recipe}"></section>
        </div>
    </div>
</main>
</html>