<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div class="flex-container max-w-screen-lg">

        <div class="farmRanking">
            <h2>농장 랭킹</h2>
            <section th:replace="~{front/outlines/_best_farm::farm}"></section>
        </div>
        <div class="center-line"></div>
        <div class="recipeRanking">
            <h2>레시피 랭킹</h2>
            <section th:replace="~{front/outlines/_best_recipe::recipe}"></section>
        </div>
    </div>
</main>
</html>