<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<th:block layout:fragment="addScript">
    <script th:src="@{/common/js/accordion.js}"></script>
</th:block>
<main layout:fragment="content">
    <div>
        <div class="faq-top"><h2 th:text="#{자주_묻는_질문}"></h2></div>
        <hr>
        <div class="faq-container toggle_action" data-button-class="faq-toggle" data-target-class="faq-text">
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 1</h3>

                <p class="faq-text hidden">대답 1</p>

                <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 2</h3>

                <p class="faq-text hidden">대답 2</p>

                <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 3</h3>

                <p class="faq-text hidden">대답 3</p>

                <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 4</h3>

                <p class="faq-text hidden">대답 4</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 5</h3>

                <p class="faq-text hidden">대답 5</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 6</h3>

                <p class="faq-text hidden">대답 6</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 7</h3>

                <p class="faq-text hidden">대답 7</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 8</h3>

                <p class="faq-text hidden">대답 8</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 9</h3>

                <p class="faq-text hidden">대답 9</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 10</h3>

                <p class="faq-text hidden">대답 10</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 11</h3>

                <p class="faq-text hidden">대답 11</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 12</h3>

                <p class="faq-text hidden">대답 12</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 13</h3>

                <p class="faq-text hidden">대답 13</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 14</h3>

                <p class="faq-text hidden">대답 14</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">자주 묻는 질문 15</h3>

                <p class="faq-text hidden">대답 15</p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
        </div>
    </div>


</main>
</html>