<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<th:block layout:fragment="addScript">
    <script th:src="@{/common/js/accordion.js}"></script>
</th:block>
<main layout:fragment="content">
    <div>
        <div class="faq-top"><h2 th:text="#{자주_묻는_질문}"></h2></div>
        <hr>
        <div class="faq-container toggle_action" data-button-class="faq-toggle" data-target-class="faq-text">
            <div class="faq">
                <h3 class="faq-title">제품의 가격이 왜 저렴하나요?</h3>

                <p class="faq-text hidden">
                    산지 생산자와의 직거래를 통해<br>
                    중간 유통단계를 획기적으로 줄여,<br>
                    고객님께 합리적인 가격으로<br>
                    질 좋은 상품을 제공하고 있습니다.<br><br>

                    가격·품질·서비스 감동을 실천하기 위한<br>
                    오아시스의 가치를 전달하기 위해<br>
                    앞으로도 좋은 가격의 질 좋은 상품을<br>
                    제공하겠습니다.
                </p>

                <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">주문한 상품을 취소하고 전부 환불받고 싶어요.</h3>

                <p class="faq-text hidden">
                    상품 준비가 '결제 완료' 상태일 경우,<br>
                    주문번호를 클릭하여 '전체 취소'를 하시면<br>
                    취소 및 환불이 가능합니다.<br><br>

                    단, 주문/배송내역의 상태가<br>
                    상품 준비 중, 배송 중인 경우는<br>
                    주문 취소가 어렵습니다.
                </p>

                <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">
                    환불/보상/반품 규정은 어떻게 되나요?
                </h3>

                <p class="faq-text hidden">
                    상품 불량으로 인한 교환 및 환불은 원칙적으로 7일 이내에 가능하나,<br>
                    신선 식품 교환 및 환불은 상품 수령일로 부터 다음날까지 가능합니다.<br><br>

                    ※ 아래의 경우 교환/반품이 불가능합니다.<br>
                    - 고객님의 책임 사유로 인해 상품 등이 멸실 또는 훼손된 경우<br>
                    - 개봉 및 포장이 훼손으로 상품 가치가 현저히 상실된 경우<br>
                    - 시간 경과에 의해 재판매가 어려 울 정도로 상품 가치가 현저히 저하된 경우
                </p>

                <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">고객센터 운영시간은 어떻게 되나요?</h3>

                <p class="faq-text hidden">
                    여름지기 고객센터는<br><br>

                    - 평일 : 오전 9시 ~ 오후 18시 까지<br>
                    - 점심시간 : 오후 12시 ~ 오후 13시까지<br><br>

                    운영됩니다.
                </p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
            <div class="faq">
                <h3 class="faq-title">이미 주문을 했는데, 결제 수단을 변경할 수 있나요?</h3>

                <p class="faq-text hidden">
                    주문 및 결제가 완료된 경우에는 결제 수단 변경이 불가합니다.<br>
                    주문하신 상품이 배송중 혹은 배송완료 상태가 아닐 경우에는 구매취소가 가능하니,<br>
                    번거로우시더라도 구매취소 후 원하시는 결제 수단으로 구매하여 주시기 바랍니다.
                </p>

               <button class="faq-toggle">
                    <i class="fas xi-angle-down"></i>
                </button>
            </div>
        </div>
    </div>
</main>
</html>