<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section th:replace="~{front/outlines/_banner::banner}">
    </section>
    <section> <!-- 추천레시피 -->
        <h1 th:text="#{추천레시피}"></h1>
        <ul>
            <li th:each="recipe : ${추천레시피}" th:object="${recipe}">
                <a th:href="@{레시피게시물링크}">
                    <div>
                        <strong type="text" th:field="*{레시피제목}"></strong>
                        <input type="text" th:field="*{상품태그}" readonly>
                    </div>
                    <input type="text" th:field="*{좋아요}" readonly>
                    <img th:src="*{프로필사진링크}">
                    <input type="text" th:field="*{글쓴이}" readonly>
                </a>
            </li>
        </ul>
    </section>
    <section> <!--제철/특산품-->
        <h1 th:text="#{제철_특산품}"></h1>
        <ul>
            <li th:each="item : ${시즌아이템}" th:object="${item}">
                <img th:src="*{아이템링크}">
                <strong th:text="*{아이템이름}"></strong>
            </li>
        </ul>
    </section>
    <section> <!-- 최근 등록 상품-->
        <h1 th:text="#{최근등록상품}"></h1>
        <ul>
            <li th:each="board : ${상품목록}" th:object="${board}">
                <a th:href="@{농장링크}">
                    <p th:field="*{한줄소개}"></p>
                    <img th:src="*{프로필사진링크}">
                    <p th:field="*{농장이름}"></p>
                </a>
            </li>
        </ul>
    </section>
    <section th:replace="~{front/outlines/_best_farm::farm}">
    </section>
    <div class="kakao_map" id="map" style="width:550px;height:550px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30c3d31753d6d4b0cc09566b021bca87"></script>
    <script>
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(35.57369961857038, 128.90045742636414), //지도의 중심좌표.
            level: 13 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options);
    </script>
</main>
</html>