<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="product_detail layout_width" th:object="${product}">
    <section class="product_main">
        <div class="product_images">
            <div class="main_image">
                <img th:if="*{mainImages != null && !mainImages.isEmpty()}" th:src="*{mainImages[0].fileUrl}">
            </div>
            <div class="thumbs" th:if="*{mainImages != null && !mainImages.isEmpty()}" >
                <div th:each="thumb : *{mainImages}" th:style="${@utils.backgroundStyle(thumb)}" class='thumb' th:data-url="${thumb.fileUrl}"></div>
            </div>
            <!--// main_image -->
        </div>
        <div class="product_info">
            <form name="frmSave" method="post" th:action="@{/cart/save}" autocomplete="off" target="ifrmProcess">
                <input type="hidden" name="mode" value="cart">
                <input type="hidden" name="seq" th:value="*{seq}">
                <div th:text="*{name}"></div>

                <dl th:if="*{consumerPrice > 0}">
                    <dt th:text="#{소비자가}"></dt>
                    <dd>
                        <del>
                            <th:block th:text="*{consumerPrice >= 1000 ? #numbers.formatInteger(consumerPrice, 3, 'COMMA') : consumerPrice}"></th:block>
                            <th:block th:text="#{원}"></th:block>
                        </del>
                    </dd>
                </dl>
                <dl>
                    <dt th:text="#{판매가}"></dt>
                    <dd>
                        <th:block th:text="*{salePrice >= 1000 ? #numbers.formatInteger(salePrice, 3, 'COMMA') : salePrice}"></th:block>
                        <th:block th:text="#{원}"></th:block>
                    </dd>
                </dl>
                <dl>
                    <dt th:text="#{할인가}"></dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt th:text="#{배송}"></dt>
                    <dd th:if="*{packageDelivery}" th:text="#{묶음배송}"></dd>
                    <dd th:unless="*{packageDelivery}" th:text="#{개별배송}"></dd>
                </dl>
                <dl>
                    <dt th:text="#{배송비}"></dt>
                    <dd th:if="*{deliveryPrice > 0}">
                        <th:block th:text="*{deliveryPrice >= 1000 ? #numbers.formatInteger(deliveryPrice, 3, 'COMMA') : deliveryPrice}"></th:block>
                        <th:block th:text="#{원}"></th:block>
                    </dd>
                    <dd th:unless="*{deliveryPrice > 0}" th:text="#{무료배송}"></dd>
                </dl>

                <div class="summary">
                    <div class="tit" th:text="#{총_상품금액}"></div>
                    <div class="info">
                        <span class="total_price" th:text="*{salePrice >= 1000 ? #numbers.formatInteger(salePrice, 3, 'COMMA') : salePrice}">
                        </span>
                        <th:block th:text="#{원}"></th:block>
                    </div>
                </div>
                <!--// summary -->
                <div class="btns">
                    <button type="button" th:text="#{찜하기}" class="product_action" data-mode="wish"></button>
                    <button type="button" th:text="#{장바구니}" class="product_action" data-mode="cart"></button>
                    <button type="button" th:text="#{구매하기}" class="product_action"  data-mode="order"></button>
                </div>
            </form>
        </div>
    </section>

    <section class="product_desc">
        <!-- 상세 설명 S -->
        <ul class="tabs">
            <li class="tab on">
                <a href="#description"th:text="#{상세}"></a>
            </li>
            <li class="tab">
                <a href="#review"th:text="#{후기}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{문의}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{배송_교환반품}"></a>
            </li>
        </ul>
        <div id="description" class='desc_content' th:utext="*{description}"></div>
        <!-- 상세 설명 E -->

        <!-- 후기 영역 S -->
        <ul class="tabs">
            <li class="tab">
                <a href="#description"th:text="#{상세}"></a>
            </li>
            <li class="tab on">
                <a href="#review"th:text="#{후기}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{문의}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{배송_교환반품}"></a>
            </li>
        </ul>
        <div id="review" class='desc_content'>
            후기 영역...
        </div>
        <!-- 후기 영역 E -->

        <!-- 문의 영역 S -->
        <ul class="tabs">
            <li class="tab">
                <a href="#description"th:text="#{상세}"></a>
            </li>
            <li class="tab">
                <a href="#review"th:text="#{후기}"></a>
            </li>
            <li class="tab on">
                <a href="#qna"th:text="#{문의}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{배송_교환반품}"></a>
            </li>
        </ul>
        <div id="qna" class='desc_content'>
            문의 영역...
        </div>
        <!-- 문의 영역 E -->

        <!-- 배송/교환반품 영역 S -->
        <ul class="tabs">
            <li class="tab">
                <a href="#description"th:text="#{상세}"></a>
            </li>
            <li class="tab">
                <a href="#review"th:text="#{후기}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{문의}"></a>
            </li>
            <li class="tab on">
                <a href="#"th:text="#{배송_교환반품}"></a>
            </li>
        </ul>
        <div id="guide" class='desc_content'>
            배송/교환반품 영역...
        </div>
        <!-- 배송/교환반품 영역 E -->
    </section>
    <!--사고 보상 정책 안내 S-->
    <section>
        <div>
            <div class="flex">
                <div th:text="#{사고_보상_정책_안내}"></div>
                <i class="xi-angle-up"></i>
            </div>
            <p>받아보신 상품에 이상이 있으셨나요? 아래 절차를 따라 요청을 남겨주시면 빠르게 도와드리겠습니다.</p>
        </div>
        <div class="flex list_style">
            <div>
                <div>사고 보상 요청 방법</div>
                <ol>
                    <li>
                        <p>
                            상품을 받으신 직후 상태를 확인해주세요.<br>
                            이상이 있는 부분이 있다면 사진을 촬영해주세요.
                        </p>
                        <ul>
                            <li>수령 후 1일 이내에 접수가 가능합니다.</li>
                            <li>파손 사고 시 배송 송장 사진도 함께 촬영해주세요.</li>
                            <li>문제 부분을 확인할 수 있도록 3~4장 이상 촬영해주세요.</li>
                            <li>사진은 이상이 있는 부분과 없는 부분 전체를 확인할 수 있어야 해요.</li>
                        </ul>
                    </li>
                    <li>
                        <p>홈페이지 로그인 후 마이페이지에서 사진과 함께 접수해주세요.</p>
                        <ul>
                            <li>마이페이지 ➡️ 최신 주문 내역 ➡️ [반품요청]을 통해 접수가 가능합니다.</li>
                        </ul>
                    </li>
                    <li>
                        <p>검토 후 처리 결과를 홈페이지 및 알림톡으로 알려드려요.</p>
                        <ul>
                            <li>접수 완료 후 1~3일 내 처리하여 알림톡과 홈페이지를 통해 알려드려요.</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div>
                <div>사고 보상이 불가한 경우</div>
                <ol>
                    <li>수령 후 단순 변심, 기호 등에 의한 요청인 경우</li>
                    <li>수령 후 1일 이상 경과, 제품의 30%이상 섭취 한 경우</li>
                    <li>접수 내용에 사진이 첨부되지 않아 품질 문제를 확인하기 어려운 경우</li>
                    <li>고객의 책임 사유(지연 개봉, 부적절한 보관 방법 등)로 상품이 손실 또는 훼손 된 경우</li>
                    <li>수령 후 시간이 지나 상품 가치가 현저히 감소한 경우</li>
                    <li>연락처 및 주소를 잘못 기입하여 배송 사고가 일어난 경우</li>
                    <li>상품 상세 페이지에 안내되어 있는 내용인 경우</li>
                    <li>택배사 배송 완료 후 상품이 분실된 경우</li>
                </ol>
            </div>
        </div>
    </section>
    <!--사고 보상 정책 안내 E-->
</main>
</html>


