<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section name="contentBox sale" >
        <div th:each="item : ${category}" th:object="${item}">
            <a th:href="@{/board/sale/goods{seq}(seq=${시퀀스})}">
                <img th:src="${사진링크}">
                <div class="tag" th:each="tag : ${tags}">
                    <span th:text="${tag}"></span>
                </div>
                <div th:text="${상품명}"></div>
                <div>
                    <span th:text="${원가}"></span>
                    <span th:text="#{돈단위}"></span>
                    <span th:text="${할인률 + '%'}"></span>
                    <p th:text="${할인가격}"></p>
                    <img src="">
                </div>
                <div name="star flex">
                    <img th:src="${별사진}" />
                    <span th:text="${평점}"></span>
                </div>
            </a>
        </div>

    </section>
</main >

</html>