<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section class="contentBox product">
        <div th:each="item : ${items}" th:object="${item}">
            <a th:href="@{/product/detail{seq}(seq=*{seq})}" >
                <img th:src="${사진링크}" />
                <div class="tag" th:each="tag : ${category}">
                    <span th:text="${tag}"></span>
                </div>
                <div th:text="*{name}"></div>
                <div>
                    <span th:text="${원가}"></span>
                    <span th:text="#{돈단위}"></span>
                    <span>
                       <th:block th:text="${할인률}"></th:block>
                       <th:block th:text="#{%}"></th:block>
                    </span>
                    <p th:text="${할인가격}"></p>
                </div>
                <div class="star">
                    <i class="xi-star"></i>
                    <span th:text="${평점}"></span>
                </div>
            </a>
        </div>
    </section>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</main>

</html>