<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="product_detail layout_width" th:object="${product}">
    <section class="product_main">
        <!-- 상품 메인 이미지 S -->
        <div class="product_images">
            <div class="main_image">
                <img th:if="*{mainImages != null && !mainImages.isEmpty()}" th:src="*{mainImages[0].fileUrl}">
            </div>
            <div class="thumbs" th:if="*{mainImages != null && !mainImages.isEmpty()}" >
                <div th:each="thumb : *{mainImages}" th:style="${@utils.backgroundStyle(thumb)}" class="thumb" th:data-url="${thumb.fileUrl}"></div>
            </div>
        </div>
        <!-- 상품 메인 이미지 E -->
        <div class="right_section">
            <!-- 판매자 정보 S -->
            <div class="farmer_info">
                <div class="farm">
                    <span class="farm_title" th:text="*{farmer.farmTitle}"></span>
                    <a class="farm_link" th:href="@{/farm/blog/{id}(id=*{farmer.userId})}">
                        <span th:text="#{농장_바로가기}"></span>
                        <i class="xi-angle-right"></i>
                    </a>
                </div>
                <button type="button" class="sbtn chat_btn" th:text="#{상품_문의}"></button>

            </div>
            <!-- 판매자 정보 E -->
            <!-- 상품 대략적인 정보 S-->
            <div class="product_info">
                <form name="frmSave" method="post" th:action="@{/cart/save}" autocomplete="off" target="ifrmProcess">
                    <input type="hidden" name="mode" value="CART">
                    <input type="hidden" name="seq" th:value="*{seq}"> <!-- 상품 seq -->
                    <h2 th:text="*{name}"></h2>

                    <table class="table_sale">
                        <tr th:if="*{consumerPrice > 0}">
                            <th th:text="#{소비자가}" width="180"></th>
                            <td>
                                <del>
                                    <span class="money" th:text="*{consumerPrice}"></span>
                                    <span th:text="#{돈단위}"></span>
                                </del>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{판매가}"></th>
                            <td>
                                <span class="money" id="sale_price" th:text="*{salePrice}"></span>
                                <span th:text="#{돈단위}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{할인}"></th>
                            <td>
                                <span id="discount" class="money"  th:text="*{discount}"></span>
                                <span id="discount_type" th:if="*{discountType == DiscountType.PERCENT}" th:text="#{%}"></span>
                                <span id="discount_type" th:if="*{discountType == DiscountType.PRICE}" th:text="#{돈단위}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th  th:text="#{배송}"></th>
                            <td th:if="*{packageDelivery}" th:text="#{묶음배송}"></td>
                            <td th:unless="*{packageDelivery}" th:text="#{개별배송}"></td>
                        </tr>
                        <tr>
                            <th th:text="#{배송비}"></th>
                            <td th:if="*{deliveryPrice > 0}">
                                <span class="money" id="delivery_price" th:text="*{deliveryPrice}"></span>
                                <span th:text="#{돈단위}"></span>
                            </td>
                            <td th:unless="*{deliveryPrice > 0}" th:text="#{무료배송}"></td>
                        </tr>
                    </table>

                    <div class="summary">
                        <strong class="tit" th:text="#{총_상품금액}"></strong>
                        <div class="info">
                            <span id="total_price" class="money" th:text="*{@productUtils.calTotal(salePrice, discountType, discount, deliveryPrice) }">
                            </span>
                            <span th:text="#{돈단위}"></span>
                        </div>
                    </div>

                    <div class="selected_products">
                        <input type="hidden" name="selectedNums" value="0">
                        <div class="product_name" th:text="*{name}"></div>

                        <div class="option_ea">
                            <div class="ea_box">
                                <input type="number" id="ea" name="ea_0" value="1" min="1" readonly>
                                <button type="button" class="change_ea down" data-total-price="total_price" data-sale-price="sale_price" data-discount="discount" data-discount-type="discount_type" data-ea-id="ea" data-target-id="total_price" th:data-price="*{salePrice}">
                                    <i class="xi-minus"></i>
                                </button>
                                <button type="button" class="change_ea up" data-total-price="total_price" data-sale-price="sale_price" data-discount="discount" data-discount-type="discount_type" data-ea-id="ea" data-target-id="total_price" th:data-price="*{salePrice}">
                                    <i class="xi-plus"></i>
                                </button>
                            </div>
                            <!--// ea_box -->
                        </div>
                        <!--// option_ea -->
                    </div>
                    <!--// selected_products -->

                    <!--// summary -->
                    <div class="btns">
                        <button type="button" th:text="#{찜하기}" class="product_action" data-mode="WISH"></button>
                        <button type="button" th:text="#{장바구니}" class="product_action" data-mode="CART"></button>
                        <button type="button" th:text="#{구매하기}" class="product_action"  data-mode="DIRECT"></button>
                    </div>
                </form>
            </div>
            <!-- 상품 대략적인 정보 E -->
        </div>
    </section>
    <section class="product_tabs">
        <ul class="tabs">
            <li class="tab on">
                <input type="radio" name="tab" id="detail" class="tab" value="detail" checked>
                <label for="detail">상세</label>
            </li>
            <li class="tab">
                <input type="radio" name="tab" id="review" class="tab" value="review">
                <label for="review">후기</label>
            </li>
            <li class="tab">
                <input type="radio" name="tab" id="exchange" class="tab" value="exchange">
                <label for="exchange">배송, 교환/반품</label>
            </li>
        </ul>

        <div class="tab_content" id="tab_content_detail" th:utext="*{description}"></div>
        <div class="tab_content dn" id="tab_content_review">
            <th:block th:replace="~{front/board/skins/review/_list_items::review}"></th:block>
        </div>
        <div class="tab_content dn" id="tab_content_exchange">
            교환반품
        </div>
    </section>
</main>
</html>


