<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{마이페이지}"></h1>
    <div>
        <a th:href="@{/mypage/diary}" th:text="#{마이_다이어리}"></a>
    </div>

    <th:block th:replace="~{front/member/my_diary/_my_latest_order::latest_order}"></th:block>

    <a th:href="@{/mypage/point}" th:text="#{마이_포인트}"></a>

    <a th:href="@{/member/info}" th:text="#{회원정보}"></a>
    <a th:href="@{/mypage/recentlyview}" th:text="#{최근_본_상품}"></a>
    <a th:href="@{/member/logout}" th:text="#{로그아웃}"></a>
</main>

</html>
