<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="review">
    <div class="board_list layout_width">
        <div class="flex sb aic">
            <h1 th:replace="~{front/board/skins/review/_board_title::title}"></h1>
        </div>

        <div class="total">
            Total : <th:block
                th:text="${pagination.total >= 1000 ? #numbers.formatInteger(pagination.total, 3, 'COMMA') : pagination.total}"></th:block>
        </div>

        <ul class="review_items toggle_action" data-button-class="faq-toggle" data-target-class="faq-text">
            <li th:if="${items == null || items.isEmpty()}" class="no_data"
                th:text="#{조회된_게시글이_없습니다.}"></li>

            <li th:unless="${items == null || items.isEmpty()}"
                th:each="item : ${items}" th:object="${item}" class="item">


                <div class="sns-container">
                    <div class="faq">
                        <div class="faq-title">

                        <h3 th:text="*{subject}"></h3>


                        <span class="poster">
                            작성자 :
                            <th:block th:text="*{poster}"></th:block>
                            <th:block th:if="*{member != null}"
                                      th:text="*{'(' + member.userId + ')'}"></th:block>
                        </span>
                        <span class="view_count">
                            조회수 :
                            <th:block th:text="*{viewCount >= 1000 ? #numbers.formatInteger(viewCount, 3, 'COMMA') : viewCount}"></th:block>
                        </span>

                        작성일 : <span class="post_date"
                                    th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></span>
                        별점 <th:block th:text="*{num2}"></th:block>

                    <!--// post_info -->

                        <button class="faq-toggle">
                            <i class="fas xi-angle-down"></i>
                        </button>

                 </div>
                </div>
            </li>
        </ul>

        <th:block th:replace="~{common/_pagination::pagination}"></th:block>

    </div>
    <!--// board_list -->
</th:block>
</html>