/* 전체 폼 스타일 */
.frmJoin {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* 제목 스타일 */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* 회원 타입 선택 탭 스타일 */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: larger;
}

.tab {
    padding: 10px 15px;
    background-color: #F2F2F2;
    cursor: pointer;
}

.tab:hover {
    background-color: #e64848;
}

.tab.active {
    background-color: #e64848;
    color: white;
}

/* 회원 타입 라디오 버튼 숨기기 */
input[type="radio"] {
    display: none;
}

/* 회원 타입 라디오 버튼 대신 탭 스타일 적용 */
input[type="radio"] + label {
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #e64848;
    color: white;
}

/* 입력 필드와 에러 메시지 간격 조정 */
dt {
    width: 180px;
    font-size: medium;
    font-weight: 400;
    margin-top: 14.5px;
}

dl {
    margin-bottom: 10px;
}

/* 입력 필드 공통 스타일 */
dl dd {
    position: relative;
}

.input_text {
    width: 350px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    float: right;
    border-radius: 5px;
    border-width: thin;
    font-size: medium;
}

/* 버튼 스타일 */
.btn {
    width: 350px;
    float: right;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    color: black;
    border: #e64848 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-weight: 400;
}

.btn:hover {
    background-color: #e64848;
    color: #fff;
}

/* 에러 메시지 스타일 */
.error {
    color: red;
    margin: 5px 35px;
    font-size: small;
    font-weight: 500;
    display: inline-flex;
    float: right;
}

.upload_files {
    margin-top: 10px;
}

.file_tpl_box {
    display: inline-block;
    float: right;
}

/* 약관 스타일*/
.terms_title {
    font-size: medium;
    margin: 15px 0px;
}

.terms {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.terms_agree label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: medium;
}

/* 약관 동의 스타일 */
.terms_agree input[type="checkbox"] {
    margin-right: 5px;
}

.terms_agree {
    margin-bottom: 20px;
}

.joinBtn {
    width: 100%;
    padding: 15px;
    background-color: #e64848;
    color: #fff;
    font-size: large;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmed {
    display: inline-block;
    float: right;
    margin: 5px;
}

.auth_inner {
    float: none;
    display: inline-flex;
}

#auth_num {
    width: 175;
    margin: 0px 20px 10px 75px;
    border-radius: 5px;
    border-width: thin;
    padding: 15px;
    font-size: medium;
}

#auth_count {
    font-size: medium;
    line-height: 50.8px;
    padding-bottom: 10px;
}