<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form">

    <div>
        <th:block th:unless="${orders != null && !orders.isEmpty()}" th:text="#{주문내역_없음}"></th:block>

        <th:block th:if="${orders != null && !orders.isEmpty()}" th:each="order : ${orders}" th:object="${order}">
            <table class="table_order">
                <colgroup>
                    <col>
                    <col style="width:120px">
                    <col style="width:120px">
                </colgroup>
                <!-- 주문당 요악 S -->
                <thead>
                <tr>
                    <th th:text="*{createdAt}"></th>
                    <th colspan="2">
                        <a th:href="@{/order/detail/{seq}(seq=*{seq})}">
                            <span th:text="*{payPrice}"></span>
                            <i class="xi-angle-right"></i>
                        </a>
                    </th>
                </tr>
                </thead>
                <!-- 주문당 요악 E -->
                <!-- 상품당 요악 S -->
                <div th:fragment="table_body">
                    <tr th:if="*{orderItems != null}" th:each="item : *{orderItems}" th:object="${item}">
                        <td class="list-item">
                                <!-- 상품 메인이미지 출력 -->
                                <div class="area-img">
                                    <div class="thumb" th:if="*{product.listImages != null && !product.listImages.isEmpty()}" th:style="*{@utils.backgroundStyle(product.listImages[0])}"></div>
                                </div>
                                <div class="area-txt">
                                    <div class="list-head">
                                        <!-- 상품명 -->
                                        <div class="OrderTableCardContent_title">
                                            <a th:href="@{/product/detail/{seq}(seq=*{seq})}"
                                               class="title-txt"
                                               for="prd-name"
                                            th:text="*{product.name}"></a>
                                            <!-- 배송 상태 -->
                                            <div class=OrderTableCardContent__badgeWrapper>
                                                <span class='OrderBadge OrderBadge--gray OrderTableCardContent__badge' th:text="*{status.title}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 구매한 옵션 출력 -->
                                    <ul class="list-options">
                                        <li>
                                            <span class="option-text">옵션값</span>
                                            <th:block th:if="*{product.useOption == true}">
                                            </th:block>
                                            <em class="option-count" th:text="*{ea + '개'}"></em>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                         <!--농장 설명-->
                        <td class="td-controller wow-b row fixed">
                            <div class="col">
                                <span class="txt" th:text="*{product.farmer.farmTitle}"></span>
                            </div>
                            <div class="col">
                                <a href="/w/message/070d9941-8dd2-426c-8144-a79b6e05c154"
                                   class="btn btn-s btn-white"
                                   type="button"
                                th:text="#{메세지_문의}"></a>
                            </div>

                        </td>
                        <td class="td-controller row">
                            <div class="OrderTableCardButtonWrapper">
                                <div class="OrderTableCardButtonItem">
                                    <button class="btn btn-s btn-point"
                                       type="button" th:disabled="*{status.title!='주문완료'}?'disabled'"
                                       th:onclick="|location.href='@{/board/write/review?productSeq={seq}(seq=*{product.seq})}'|"
                                       data-modal-id="modal-review"
                                       data-modal-trigger="modal-link"
                                     th:text="#{후기_작성}"></button>
                                </div>
                                <div class="OrderTableCardButtonItem">
                                    <a th:href="*{'https://search.naver.com/search.naver?where=nexearch&sm=top_sug.pre&fbm=0&acr=1&acq=qoth&qdt=0&ie=utf8&query='+deliveryCompany + '+' + deliveryInvoice}"
                                       target="_blank"
                                       class="btn btn-s btn-white"
                                       data-tracking
                                    th:text="#{배송조회}"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>
                <!-- 상품당 요악 E -->
            </table>
        </th:block>
    </div>
</th:block>
</html>