<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1>마이 다이어리</h1>
    <div>
        <div>
            <input type="hidden" name="gid" value="testgid">
            <div>
                <th:block th:if="${session.member.profileImage != null}"
                      th:utext="${@utils.printThumb(session.member.profileImage.seq, 80, 80, 'profile_image')}">
                </th:block>
            </div>
            <div>
                <th:block th:text="${session.member.nickname}"></th:block><br>
                프로필메세지<br>
            </div>
        </div>
        <div>
            <a th:href="@{/member/info}" th:text="#{프로필_수정}"></a>
            <button><i class="xi-heart-o"></i></button>
        </div>
        <div class="widget_tab">
            <ul class="tabs">
                <li>
                    <input type="radio" name="tab" class="tab" value="/mypage/diary/content/bookmark" id="widget_tab1" checked>
                    <label for="widget_tab1" th:text="#{북마크}"></label>
                </li>
                <li>
                    <input type="radio" name="tab" class="tab" value="/mypage/diary/content/recipe" id="widget_tab2">
                    <label for="widget_tab2" th:text="#{레시피}"></label>

                </li>
            </ul>

            <div class="tab_content">


            </div>
        </div>

    </div>



</main>
<script th:replace="~{common/_file_tpl::image1_tpl}"></script>

</html>