<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<head>
    <style>

    </style>
</head>
<main layout:fragment="content">
    <section class="max-w-screen-lg ma">
        <h1 th:text="#{마이페이지}"></h1>
        <div class="row">
            <a th:href="@{/mypage/diary}" th:text="#{마이_다이어리}"></a>
        </div>
        <div class="row">
            <a th:href="@{/cart}" th:text="#{장바구니}"></a>
        </div>
        <div class="row">
            <p class="recent_ord" th:text="#{최신_주문내역}"></p>
            <th:block th:replace="~{front/member/mypage/_order_form::form}"></th:block>
            <div>
                <a class="total_ord" th:href="@{/mypage/orders}" th:text="#{전체_주문내역}"></a>
            </div>
        </div>
        <div class="row">
            <a th:href="@{/mypage/save_post}" th:text="#{찜_게시글}"></a>
        </div>
        <div class="row">
            <span class="point" th:text="#{마이_포인트}"></span>
            <div>
                <a class="total_pnt" th:href="@{/mypage/point}">
                    <span th:text="#{포인트}"></span>
                    :
                    <span th:text="${point}"></span>
                    <span th:text="#{P}"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <a th:href="@{/member/info}" th:text="#{회원_정보}"></a>
        </div>
        <div class="row">
            <a th:href="@{/mypage/recentlyview}" th:text="#{최근_본_상품}"></a>
        </div>
        <div class="row">
            <a th:href="@{/member/logout}" th:text="#{로그아웃}"></a>
        </div>
    </section>
</main>
</html>