<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{마이페이지}"></h1>
    <div class="row">
        <a th:href="@{/mypage/diary}" th:text="#{마이_다이어리}"></a>
    </div>
    <div class="row">
        <a th:href="@{/cart}" th:text="#{장바구니}"></a>
    </div>
    <div class="row">
        <p th:text="#{최신_주문내역}"></p>
        <th:block th:replace="~{front/member/mypage/_order_form::form}"></th:block>
        <div>
            <a th:href="@{/mypage/orders}" th:text="#{전체_주문내역}"></a>
        </div>
    </div>
    <div class="row">
        <th:block th:text="#{마이_포인트}"></th:block><br>
        포인트 : <a th:href="@{/mypage/point}" th:text="#{P}"></a><br>

    </div>
    <div class="row">
        <a th:href="@{/member/info}" th:text="#{회원_정보}"></a>
    </div>
    <div class="row">
        <a th:href="@{/mypage/recentlyview}" th:text="#{최근_본_상품}"></a>
    </div>
    <div class="row">
        <a th:href="@{/member/logout}" th:text="#{로그아웃}"></a>
    </div>
</main>

</html>
