
/* 주문 상세 */
.order_detail {
    width: 85%;
    text-align: center;
    border-spacing: 0;
    border: 1px solid #d9d9d9;
}
.order_detail th {
    border-left: 1px solid #d9d9d9;
    background-color: #f5f5f5;
    padding: 12px 0;
    background: #f5f5f5;
}
.order_detail td {
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding: 16px 0;
}
.list-item {
    width: 100%;
    display: table;
}
.list-item .area-img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-left: 16px;
    display: table-cell;
}

.list-item .area-img .thumb {
    width: 64px;
    height: 64px;
    margin-left: 16px;
}

.list-item .area-txt {
    width: auto;
    padding-left: 8px;
    padding-right: 20px;
    vertical-align: middle;
    overflow: hidden;
    display: table-cell;
}
.list-item .area-txt .lest-head {
    margin: 0 0 8px 0;
}
.list-item .area-txt .OrderTableCardContent_title {
    display: table;
}
.list-item .area-txt .OrderTableCardContent_title>* {
    display: table-cell;
}
.list-item .area-txt .OrderTableCardContent_title a{
    font-weight: bold;
}
.list-item .area-txt .OrderTableCardContent_title .OrderBadge{
    height: 20px;
    margin-left: 8px;
    padding: 0 6px;
}
.list-item .area-txt .OrderTableCardContent_title .OrderBadge--gray {
    background-color: #f5f5f5;
    color: #666;
}
.list-options li {
    margin-top: 3px;
    position: relative;
}
.list-options .option-text{
    float: left;
    display: block;
    width: auto;
    min-height: 16px;
    margin-right: 20px;
}
.list-options .option-count {
    position: absolute;
    top: 0;
    right: 0;
}

.td-controller {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.td-controller .col+.col {
    margin-top: 5px;
}
.td-controller .btn {
    width: 100%;
}
.btn-white{
    color: #333;
    border: 1px solid #ccc;
    background: #fff;
}
.btn-s{
    padding: 6px 12px;
        font-size: 12px;
}