.title {
    text-align: center;
}

.btn{
    float: right;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 15px;
    background-color: #F2F2F2;
    color: black;
    border: var(--main-color) 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

#xi-search{
    height: auto;
}