<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div  class="max-w-screen-lg ma">
        <section th:replace="~{front/outlines/_banner::banner}">
        </section>

        <div class="title">
            <h2 th:text="#{추천레시피}"></h2>
        </div>
        <section class="flex">
            <ul>
                <li th:each="recipe : ${추천레시피}" th:object="${recipe}">
                    <a th:href="@{레시피게시물링크}">
                        <div>
                            <strong type="text" th:field="*{레시피제목}"></strong>
                            <input type="text" th:field="*{상품태그}" readonly>
                        </div>
                        <input type="text" th:field="*{좋아요}" readonly>
                        <img th:src="*{프로필사진링크}">
                        <input type="text" th:field="*{글쓴이}" readonly>
                    </a>
                </li>
            </ul>
        </section>

        <div class="title"> <!-- 제철/특산품 -->
            <h2 th:text="#{제철_특산품}"></h2>
        </div>

        <section class="inSeasonProducts flex" id="inSeasonProductsContainer">
            <!-- 이전 화살표 -->
            <div class="prev_button">
                <button class="prod_button" onclick="prevSlide()">◀</button>
            </div>
            <div class="productsItem">
                <div class="products" th:each="item : ${inSeasonProducts}" th:object="${item}">
                    <a th:href="@{/product/detail/{seq}(seq=*{seq})}" >
                        <div class="imgBox">
                            <th:block th:if="*{listImages != null && listImages.size() != 0}" th:utext="*{@utils.printThumb(listImages[0].seq, 1000, 1000, 'product_main')}"></th:block>
                        </div>
                        <th:block th:unless="*{listImages != null && listImages.size() != 0}" width="100px" height="100px"></th:block>

                        <div  class="font-semibold text-18px"th:text="*{name}"></div>

                        <div class="productPrice items-center gap-2px">
                            <div class="consumerPrice text-16px">
                                <th:block th:text="*{consumerPrice}"></th:block>
                                <th:block th:text="#{돈단위}"></th:block>
                            </div>
                            <div class="salePrice font-semibold text-16px">
                                <th:block th:text="*{salePrice}"></th:block>
                                <th:block th:text="#{돈단위}"></th:block>
                            </div>
                            <div class="discount" th:if="*{discount != 0}">
                                <th:block th:text="#{추가할인} + ' : ' + *{discount}"></th:block>
                                <th:block th:if="*{discountType == DiscountType.PERCENT}" th:text="#{%}"></th:block>
                                <th:block th:if="*{discountType == DiscountType.PRICE}" th:text="#{돈단위}"></th:block>
                                <img class="discount_arrow" th:src="@{/image/discount-arrow.svg}">
                            </div>
                        </div>
                        <!--<div th:text="#{판매가} + ' : ' + *{salePrice}"></div>-->
                        <div class="star">
                            <i class="xi-star"></i>
                            <span th:text="${평점}"></span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 다음 화살표 -->
            <div class="next_button">
                <button class="prod_button" onclick="nextSlide()">▶</button>
            </div>
        </section>


        <div class="title">
            <h2 th:text="#{최신상품}"></h2>
        </div>
        <section class="latestProducts productsItem">
            <div class="products" th:each="item : ${items}" th:object="${item}">
                <a th:href="@{/product/detail/{seq}(seq=*{seq})}" >
                    <div class="imgBox">
                        <th:block th:if="*{listImages != null && listImages.size() != 0}" th:utext="*{@utils.printThumb(listImages[0].seq, 1000, 1000, 'product_main')}"></th:block>
                    </div>
                    <th:block th:unless="*{listImages != null && listImages.size() != 0}" width="100px" height="100px"></th:block>

                    <div  class="font-semibold text-18px"th:text="*{name}"></div>

                    <div class="productPrice items-center gap-2px">
                        <div class="consumerPrice text-16px">
                            <th:block th:text="*{consumerPrice}"></th:block>
                            <th:block th:text="#{돈단위}"></th:block>
                        </div>
                        <div class="salePrice font-semibold text-16px">
                            <th:block th:text="*{salePrice}"></th:block>
                            <th:block th:text="#{돈단위}"></th:block>
                        </div>
                        <div class="discount" th:if="*{discount != 0}">
                            <th:block th:text="#{추가할인} + ' : ' + *{discount}"></th:block>
                            <th:block th:if="*{discountType == DiscountType.PERCENT}" th:text="#{%}"></th:block>
                            <th:block th:if="*{discountType == DiscountType.PRICE}" th:text="#{돈단위}"></th:block>
                            <img class="discount_arrow" th:src="@{/image/discount-arrow.svg}">
                        </div>
                    </div>
                    <!--<div th:text="#{판매가} + ' : ' + *{salePrice}"></div>-->
                    <div class="star">
                        <i class="xi-star"></i>
                        <span th:text="${평점}"></span>
                    </div>
                </a>
            </div>
        </section>

        <section class="flex best_zone">
            <div class="best_items">
                <h2 th:text="#{인기_많은_농장}"></h2>
                <div class="best_item" th:each="farm, status : *{farmers}" th:object="${farm}">
                    <a class="best_lank flex" th:href="@{/farm/blog/{id}(id=*{userId})}">
                        <div class="lank" th:if="${status.index < 5}">
                            <img th:src="'../image/ranking-0' + ${status.index+1} +'.png'">
                        </div>
                        <div class="lank_text flex">
                            <div th:text="*{salePoint}"></div>
                            <div th:text="*{farmTitle}"></div>
                        </div>
                        <!--<p th:text="#{찜}"></p>-->
                        <div class="imgBox">
                            <th:block th:if="*{profileImage != null}" th:utext="*{@utils.printThumb(profileImage.seq, 100, 100)}"></th:block>
                            <th:block th:unless="*{profileImage != null}" width="100" height="100"></th:block>
                        </div>
                    </a>
                </div>
            </div>

            <div class="kakao_map" id="map"></div>
        </section>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30c3d31753d6d4b0cc09566b021bca87"></script>
    <script>
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(35.67369961857038, 128.80045742636414),
                level: 13
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        var markerInfos = [
            { position: new kakao.maps.LatLng(33.450701, 126.570667), content: '<div style="padding:5px;">제주도농부 감귤<br><a href="http://localhost:3000/product/FRUIT" style="color:blue">상품페이지로 이동</a></div>', imageUrl: 'https://cdn.pixabay.com/photo/2016/02/23/17/38/fruit-1218149_1280.png' },
            { position: new kakao.maps.LatLng(35.871363377967015, 128.60212567442213), content: '<div style="padding:5px;">대구농부 찹쌀<br><a href="http://localhost:3000/product/GRAIN" style="color:blue">상품페이지로 이동</a></div>', imageUrl: 'https://cdn.pixabay.com/photo/2014/12/22/00/03/bag-576707_1280.png' },
            { position: new kakao.maps.LatLng(36.99102811180967, 127.92615735554446), content: '<div style="padding:5px;">충주농부 사과<br><a href="http://localhost:3000/product/FRUIT" style="color:blue">상품페이지로 이동</a></div>', imageUrl: 'https://cdn.pixabay.com/photo/2016/10/30/18/01/apple-1783882_1280.png' },
            // ... 추가적인 마커 정보들
        ];

        var markers = [];
        var infowindows = [];

        markerInfos.forEach(function(markerInfo) {
            var markerImage = new kakao.maps.MarkerImage(markerInfo.imageUrl, new kakao.maps.Size(30, 30), {offset: new kakao.maps.Point(15, 30)});

            var marker = new kakao.maps.Marker({
                position: markerInfo.position,
                image: markerImage
            });

            marker.setMap(map);

            markers.push(marker);

            var infowindow = new kakao.maps.InfoWindow({
                position: markerInfo.position,
                content: markerInfo.content
            });

            infowindows.push(infowindow);

            infowindow.open(map, marker);
        });

        // 자동 롤링을 위한 JavaScript 코드
        var currentIndex = 0;
        var slides = document.querySelectorAll('.inSeasonProducts .products');
        var totalSlides = slides.length;
        var slidesPerPage = 3; // 한 번에 보여줄 상품 수

        function showSlides(startIndex) {
            slides.forEach(function (slide, index) {
                var displayStyle = index >= startIndex && index < startIndex + slidesPerPage ? 'block' : 'none';
                slide.style.display = displayStyle;
            });
        }

        function nextSlide() {
            currentIndex = (currentIndex + slidesPerPage) % totalSlides;
            showSlides(currentIndex);
            updateSlideInfo();
        }

        function prevSlide() {
            currentIndex = (currentIndex - slidesPerPage + totalSlides) % totalSlides;
            showSlides(currentIndex);
            updateSlideInfo();
        }

        function updateSlideInfo() {
            document.getElementById('currentSlide').textContent = currentIndex + 1;
            document.getElementById('totalSlides').textContent = totalSlides;
        }

        setInterval(nextSlide, 2500);

        // 초기 슬라이드 표시
        showSlides(currentIndex);
        updateSlideInfo();
    </script>
</main>
</html>