<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section th:replace="~{front/outlines/_banner::banner}">
    </section>
    <section class="max-w-screen-lg flex ma">
        <h1 th:text="#{추천레시피}"></h1>
        <ul>
            <li th:each="recipe : ${추천레시피}" th:object="${recipe}">
                <a th:href="@{레시피게시물링크}">
                    <div>
                        <strong type="text" th:field="*{레시피제목}"></strong>
                        <input type="text" th:field="*{상품태그}" readonly>
                    </div>
                    <input type="text" th:field="*{좋아요}" readonly>
                    <img th:src="*{프로필사진링크}">
                    <input type="text" th:field="*{글쓴이}" readonly>
                </a>
            </li>
        </ul>
    </section>

    <div class="inSeasonTitle"> <!-- 제철/특산품 -->
        <h1 th:text="#{제철_특산품}"></h1>
    </div>
    <section class="inSeasonProducts" id="inSeasonProductsContainer">
            <div class="products" th:each="item : ${inSeasonProducts}" th:object="${item}">
                <a class="imgBox" th:href="@{/product/detail/{seq}(seq=*{seq})}">
                    <th:block th:utext="*{@utils.printThumb(mainImages[0].seq, 1000, 1000, 'product_main')}"></th:block>
                    <div th:text="*{name}"></div>
                    <div class="productText">
                        <span th:text="*{consumerPrice}"></span>
                        <span th:text="#{돈단위}"></span>
                        <span th:if="*{discount != 0}">
                           <th:block th:text="*{'할인율 : ' + discount}"></th:block>
                           <th:block th:text="#{%}"></th:block>
                        </span>
                    </div>
                    <div>
                        <p th:text="#{판매가} + ' : ' + *{salePrice}"></p>
                    </div>
                    <div class="star">
                        <i class="xi-star"></i>
                        <span th:text="${평점}"></span>
                    </div>

                </a>
            </div>
    </section>

    <div class="latestTitle">
        <h1 th:text="#{최신상품}"></h1>
    </div>
    <section class="latestProducts">
        <div class="products" th:each="item : ${items}" th:object="${item}">
            <a class="imgBox" th:href="@{/product/detail/{seq}(seq=*{seq})}" >
                <th:block th:utext="*{@utils.printThumb(mainImages[0].seq, 1000, 1000, 'product_main')}"></th:block>
                <div th:text="*{name}"></div>
                <div class="productText">
                    <span th:text="*{consumerPrice}"></span>
                    <span th:text="#{돈단위}"></span>
                    <span th:if="*{discount != 0}">
                           <th:block th:text="*{'할인율 : ' + discount}"></th:block>
                           <th:block th:text="#{%}"></th:block>
                        </span>
                </div>
                <div>
                    <p th:text="#{판매가} + ' : ' + *{salePrice}"></p>
                </div>
                <div class="star">
                    <i class="xi-star"></i>
                    <span th:text="${평점}"></span>
                </div>
            </a>
        </div>
    </section>

    <!-- 지도 영역 : th:block th:if로 처리 -->
    <div class="kakao_map" id="map" style="width:550px;height:550px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30c3d31753d6d4b0cc09566b021bca87"></script>
    <script>
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(35.67369961857038, 128.80045742636414),
                level: 13
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        var markerInfos = [
            { position: new kakao.maps.LatLng(33.450701, 126.570667), content: '<div style="padding:5px;">제주도농부 감귤<br><a href="http://localhost:3000/product/FRUIT" style="color:blue">상품페이지로 이동</a></div>', imageUrl: 'https://cdn.pixabay.com/photo/2016/02/23/17/38/fruit-1218149_1280.png' },
            { position: new kakao.maps.LatLng(35.871363377967015, 128.60212567442213), content: '<div style="padding:5px;">대구농부 찹쌀<br><a href="http://localhost:3000/product/GRAIN" style="color:blue">상품페이지로 이동</a></div>', imageUrl: 'https://cdn.pixabay.com/photo/2014/12/22/00/03/bag-576707_1280.png' },
            { position: new kakao.maps.LatLng(36.99102811180967, 127.92615735554446), content: '<div style="padding:5px;">충주농부 사과<br><a href="http://localhost:3000/product/FRUIT" style="color:blue">상품페이지로 이동</a></div>', imageUrl: 'https://cdn.pixabay.com/photo/2016/10/30/18/01/apple-1783882_1280.png' },
            // ... 추가적인 마커 정보들
        ];

        var markers = [];
        var infowindows = [];

        markerInfos.forEach(function(markerInfo) {
            var markerImage = new kakao.maps.MarkerImage(markerInfo.imageUrl, new kakao.maps.Size(30, 30), {offset: new kakao.maps.Point(15, 30)});

            var marker = new kakao.maps.Marker({
                position: markerInfo.position,
                image: markerImage
            });

            marker.setMap(map);

            markers.push(marker);

            var infowindow = new kakao.maps.InfoWindow({
                position: markerInfo.position,
                content: markerInfo.content
            });

            infowindows.push(infowindow);

            infowindow.open(map, marker);
        });
    </script>

    <div class="main_best">
        <h2>베스트</h2>
        <li><a href="http://localhost:3000/" th:text="#{전체}"></a></li> <!-- 경로 - 지도와 맵핑 해야함 -->
        <li><a href="http://localhost:3000/product/GRAIN" th:text="#{곡물}"></a></li>
        <li><a href="http://localhost:3000/product/VEGETABLE" th:text="#{채소}"></a></li>
        <li><a href="http://localhost:3000/product/FRUIT" th:text="#{과일}"></a></li>
    </div>

</main>
</html>