<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section th:replace="~{front/outlines/_banner::banner}">
    </section>
    <section class="max-w-screen-lg flex ma"> <!-- 추천레시피 -->
        <h1 th:text="#{추천레시피}"></h1>
        <ul>
            <li th:each="recipe : ${추천레시피}" th:object="${recipe}">
                <a th:href="@{레시피게시물링크}">
                    <div>
                        <strong type="text" th:field="*{레시피제목}"></strong>
                        <input type="text" th:field="*{상품태그}" readonly>
                    </div>
                    <input type="text" th:field="*{좋아요}" readonly>
                    <img th:src="*{프로필사진링크}">
                    <input type="text" th:field="*{글쓴이}" readonly>
                </a>
            </li>
        </ul>
    </section>
    <section class="max-w-screen-lg flex ma"> <!--제철/특산품-->
        <h1 th:text="#{제철_특산품}"></h1>
        <ul>
            <li th:each="item : ${시즌아이템}" th:object="${item}">
                <img th:src="*{아이템링크}">
                <strong th:text="*{아이템이름}"></strong>
            </li>
        </ul>
    </section>

    <div class="latestTitle">
        <h1>최신상품</h1>
    </div>
    <section class="latestProducts">
        <div class="products" th:each="item : ${items}" th:object="${item}">
            <a th:href="@{/product/detail/{seq}(seq=*{seq})}" >
                <th:block th:utext="*{@utils.printThumb(mainImages[0].seq, 250, 250, 'product_main')}"></th:block>
                <div th:text="*{name}"></div>
                <div>
                    <span th:text="*{consumerPrice}"></span>
                    <span th:text="#{돈단위}"></span>
                    <span th:if="*{discount != 0}">
                           <th:block th:text="*{'할인율 : ' + discount}"></th:block>
                           <th:block th:text="#{%}"></th:block>
                        </span>
                    <p th:text="#{판매가} + ' : ' + *{salePrice}"></p>
                </div>
                <div class="star">
                    <i class="xi-star"></i>
                    <span th:text="${평점}"></span>
                </div>
            </a>
        </div>
    </section>

    <section th:replace="~{front/outlines/_best_farm::farm}">
    </section>

</main>
</html>