<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${requestRecipe}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    <input th:if="*{mode == 'edit' && seq != null}" type="hidden" name="seq" th:field="*{seq}">
    <input type="hidden" name="gid" th:field="*{gid}">
    <input type="hidden" name="poster" th:field="*{poster}">
    <!--// main_image_box -->
    <div class="main_image_box">
        <div th:if="*{mainImages != null && !mainImages.isEmpty()}" class="upload_files uploaded"
             id="main_images" data-image-only="true"
             th:style="*{@utils.backgroundStyle(mainImages[0], 600, 600)}">
            <i class="xi-plus"></i>
            <div class="txt" th:text="#{대표_이미지_업로드}"></div>
        </div>
        <!-- 이미지 없을 때-->
        <div th:unless="*{mainImages != null && !mainImages.isEmpty()}" class="upload_files"
             id="main_images" data-image-only="true">
            <i class="xi-plus"></i>
            <div class="txt" th:text="#{대표_이미지_업로드}"></div>
        </div>

        <div class="thumbs">
            <th:block th:if="*{mainImages != null}" th:each="item : *{mainImages}">
                <th:block th:replace="~{common/_image_file::item}"></th:block>
            </th:block>
        </div>
    </div>
    <!--// main_image_box -->

    <div class="rows recipe_name">
        <input type="text" name="rcpName" th:placeholder="#{레서피의_이름이_무엇인가요?}" th:field="*{rcpName}">
        <div class="error" th:each="err : ${#fields.errors('rcpName')}" th:text="${err}"></div>
    </div>
    <div class="rows">
        <textarea name="rcpInfo" th:field="*{rcpInfo}" th:placeholder="#{레시피에_대한_간단한_설명을_덧붙여주세요.}"></textarea>
    </div>

    <div class="stit" th:text="#{예상_소요_시간}"></div>
    <div class="rows estimate_times">
        <input type="radio" name="estimatedT" value="15" id="estimatedT_15"
               th:field="*{estimatedT}">
        <label for="estimatedT_15" th:text="#{15분_컷}"></label>

        <input type="radio" name="estimatedT" value="30" id="estimatedT_30"
               th:field="*{estimatedT}">
        <label for="estimatedT_30" th:text="#{30분_컷}"></label>

        <input type="radio" name="estimatedT" value="45" id="estimatedT_45"
               th:field="*{estimatedT}">
        <label for="estimatedT_45" th:text="#{45분_컷}"></label>

        <input type="radio" name="estimatedT" value="46" id="estimatedT_46"
               th:field="*{estimatedT}">
        <label for="estimatedT_46" th:text="#{46분_컷}"></label>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{카테고리}"></div>
        <tr>
            <th>요리 분류</th>
            <td th:unless="*{mode == 'edit'}">
                <button type="button" name="cate_select" id="cate_select" class="sbtn">요리 분류</button>
                <input type="hidden" id="category" name="category" th:field="*{category}">
                <!--<div class="error" th:each="err : ${#fields.errors('cateCd')}" th:text="${err}"></div>-->
            </td>
            <td th:if="*{mode == 'edit'}">
                <button type="button" name="cate_select" id="cate_select" class="sbtn" th:text="${category}"></button>
                <input type="hidden" id="category" name="category" th:field="*{category}">
            </td>
        </tr>
    </div>

    <div class="rows">
        <div class="stit" th:text="#{기준량}"></div>
        <div class="amount_box">
            <button type="button" class="down"><i class="xi-minus"></i></button>
            <input type="number" name="amount" min="1" max="10" th:field="*{amount}">
            <button type="button" class="up"><i class="xi-plus"></i></button>
            <th:block th:text="#{인분}"></th:block>
        </div>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{필수재료}"></div>
        <div class="input_item_box" id="requiredIng">
            <div class="item_box" th:if="*{requiredIng != null}"
                 th:each="item, status : *{requiredIng}">
                <input placeholder="예) 당근" type="text" name="requiredIng" th:value="${item}">
                <input placeholder="1 개" type="text" name="requiredIngEa" th:value="${requestRecipe.requiredIngEa[status.index]}">
                <button type="button" class="remove_item"><i class="xi-close"></i></button>
            </div>
        </div>
        <button type="button" th:text="#{추가}" data-id="requiredIng" data-name="requiredIng" class="add_input_item"></button>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{부재료}"></div>
        <div class="input_item_box" id="subIng">
            <div class="item_box" th:if="*{subIng != null}"
                 th:each="item, status : *{subIng}">
                <input placeholder="예) 달걀" type="text" name="subIng" th:value="${item}">
                <input placeholder="1 개" type="text" name="subIngEa" th:value="${requestRecipe.subIngEa[status.index]}">
                <button type="button" class="remove_item"><i class="xi-close"></i></button>
            </div>
        </div>
        <button type="button" th:text="#{추가}" data-id="subIng" data-name="subIng" class="add_input_item"></button>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{양념}"></div>
        <div class="input_item_box" id="condiments">
            <div class="item_box" th:if="*{condiments != null}"
                 th:each="item, status : *{condiments}">
                <input placeholder="예) 소금" type="text" name="condiments" th:value="${item}">
                <input placeholder="1 큰술" type="text" name="condimentsEa" th:value="${requestRecipe.condimentsEa[status.index]}">
                <button type="button" class="remove_item"><i class="xi-close"></i></button>
            </div>
        </div>
        <button type="button" th:text="#{추가}" data-id="condiments" data-name="condiments" class="add_input_item"></button>
    </div>

    <!-- 만드는 방법 -->
    <div>
        <div class="rows">
            <div class="stit" th:text="#{만드는_방법}"></div>
            <div class="input_item_box" id="how">
                <div class="item_box" th:if="*{how != null}" th:each="item, status : *{how}">
                    <!-- 숫자 로고 -->
                    <input placeholder="만드는 방법을 입력하세요." type="text" name="how" th:value="${item}">
                    <button type="button" class="remove_item"><i class="xi-close"></i></button>
                </div>
            </div>
            <button type="button" th:text="#{단계_추가}" data-id="how" data-name="how" class="add_input_item"></button>
        </div>
        <div class="rows">
            <div class="stit" th:text="#{TIP}"></div>
            <div class="input_item_box" id="tip">
                <div class="item_box" th:if="*{tip != null}" th:each="item : *{tip}">
                    <!-- 팁 로고 -->
                    <input placeholder="만드는 방법을 입력하세요." type="text" name="tip" th:value="${item}">
                    <button type="button" class="remove_item"><i class="xi-close"></i></button>
                </div>
            </div>
            <button type="button" th:text="#{TIP_추가}" data-id="tip" data-name="tip" class="add_input_item"></button>
        </div>
    </div>
    <script>
        const { popup } = commonLib;
        const cate_select = document.getElementById("cate_select");
        cate_select.onclick = () => popup.open('/admin/recipe/select', 500, 500);
    </script>

    <th:block th:replace="~{common/_file_tpl::image1_tpl}"></th:block>
</th:block>

</html>