<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${requestRecipe}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    <input th:if="*{mode == 'edit' && seq != null}" type="hidden" name="seq" th:field="*{seq}">
    <input type="hidden" name="gid" th:field="*{gid}">
    <input type="hidden" name="requiredIngJSON" th:field="*{requiredIngJSON}">
    <input type="hidden" name="subIngJSON" th:field="*{subIngJSON}">
    <input type="hidden" name="condimentsJSON" th:field="*{condimentsJSON}">

    <div class="main_image_box">
        <div class="upload_files" id="main_images" data-image-only="true">
            <i class="xi-plus"></i>
            <div class="txt" th:text="#{대표_이미지_업로드}"></div>
        </div>
        <div class="thumbs"></div>
    </div>
    <!--// main_image_box -->

    <div class="rows recipe_name">
        <input type="text" name="rcpName" th:placeholder="#{레서피의_이름이_무엇인가요?}" th:field="*{rcpName}">
        <div class="error" th:each="err : ${#fields.errors('rcpName')}" th:text="${err}"></div>
    </div>
    <div class="rows">
        <textarea th:field="*{rcpInfo}" th:placeholder="#{레시피에_대한_간단한_설명을_덧붙여주세요.}"></textarea>
    </div>

    <div class="stit" th:text="#{예상_소요_시간}"></div>
    <div class="rows estimate_times">
        <input type="radio" name="estimatedT" value="15" id="estimatedT_15"
               th:field="*{estimatedT}">
        <label for="estimatedT_15" th:text="#{15분_컷}"></label>

        <input type="radio" name="estimatedT" value="30" id="estimatedT_30"
               th:field="*{estimatedT}">
        <label for="estimatedT_30" th:text="#{30분_컷}"></label>

        <input type="radio" name="estimatedT" value="45" id="estimatedT_45"
               th:field="*{estimatedT}">
        <label for="estimatedT_45" th:text="#{45분_컷}"></label>

        <input type="radio" name="estimatedT" value="46" id="estimatedT_46"
               th:field="*{estimatedT}">
        <label for="estimatedT_46" th:text="#{46분_컷}"></label>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{카테고리}"></div>
        <select name="category" th:field="*{category}">
            <option value="" th:text="#{요리_분류}"></option>
            <option value="" th:text="#{한식}"></option>
        </select>
        <select name="subCategory" th:field="*{subCategory}">
            <option value="" th:text="#{요리_종류}"></option>
            <option value="" th:text="#{볶음밥/덮밥}"></option>
        </select>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{기준량}"></div>
        <div class="amount_box">
            <button type="button" class="down"><i class="xi-minus"></i></button>
            <input type="number" name="amount" min="1" max="10"  th:field="*{amount}">
            <button type="button" class="up"><i class="xi-plus"></i></button>
            <th:block th:text="#{인분}"></th:block>
        </div>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{필수재료}"></div>

        <div class="input_item_box" id="requiredIng"></div>
        <button type="button" th:text="#{추가}" data-id="requiredIng" data-name="requiredIng" class="add_input_item"></button>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{부재료}"></div>

        <div class="input_item_box" id="subIng"></div>
        <button type="button" th:text="#{추가}" data-id="subIng" data-name="subIng" class="add_input_item"></button>
    </div>
    <div class="rows">
        <div class="stit" th:text="#{양념}"></div>

        <div class="input_item_box" id="condiments"></div>
        <button type="button" th:text="#{추가}" data-id="condiments" data-name="condiments" class="add_input_item"></button>
    </div>
    <!-- 만드는 방법 -->
    <div>
        <div class="rows">
            <div class="stit" th:text="#{만드는 방법}"></div>
            <input type="text" id="content_1" th:field="*{content}">
            <input type="text" id="content_2" th:field="*{content}">

            <div class="input_item_box" id="howto"></div>
            <button type="button" th:text="#{단계_추가}" data-id="howto" data-name="howto" class="add_input_item"></button>
        </div>

        <div class="rows">
            <div class="stit" th:text="#{TIP}"></div>
            <!--<input type="text" id="tip_[seq]" th:field="*{tip}">-->

            <div class="input_item_box" id="tip"></div>
            <button type="button" th:text="#{TIP_추가}" data-id="tip" data-name="tip" class="add_input_item"></button>
        </div>
    </div>
    <th:block th:replace="~{common/_file_tpl::image1_tpl}"></th:block>
</th:block>

</html>