<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section th:replace="~{front/outlines/_banner::banner}">
    </section>
    <div>
        <h1>레시피 모두 보기</h1>
        <div class="total">
            Total : <th:block
                th:text="${pagination.total >= 1000 ? #numbers.formatInteger(pagination.total, 3, 'COMMA') : pagination.total}"></th:block>
            <br><a th:href="@{/recipe/add}" th:text="#{레시피올리기}"></a><br>
        </div>

        <div> <!-- 검색 S -->
            <form name="frmSearch" method="get" th:action="@{/recipe/list}"
                  th:object="${recipeDataSearch}">
                <div>
                    <select name="sopt" th:field="*{sopt}">
                        <option value="all" th:text="#{전체}"></option>
                        <option value="rcpName" th:text="#{레시피_이름}"></option>
                        <option value="rcpIng" th:text="#{재료}"></option>
                        <option value="member" th:text="#{작성자}"></option>
                    </select>
                    <input type="text" name="skey" th:field="*{skey}"
                           th:placeholder="#{요리나 재료를 검색!}">
                    <button type="submit" th:text="#{검색하기}"></button>
                </div>
                <!-- 재료 -->
                <div>
                    <th:block th:each="ing : ${ingredients}" name="sopt" th:field="*{sopt}">
                        <button type="submit" value="rcpIng" th:text="${ing}"></button>
                    </th:block>
                </div>
            </form>


        </div>
        <!-- 검색 E -->
        <div>
            <th:block th:if="${recipes == null || recipes.isEmpty()}"
                      th:text="#{등록된_레시피가_없습니다.}">
            </th:block>
        </div>

        <div class="contentBox">
            <!--[[${recipes}]] <br><br>-->

            <div class="item" th:each="recipe : ${recipes}" th:object="${recipe}">
                <ul>
                    <a th:href="@{/recipe/view/{seq}(seq=*{seq})}">
                        <div class="imgBox">
                            <th:block th:utext="*{@utils.printThumb(mainImages[0].seq, 1000, 1000, 'recipe_main')}"></th:block>
                        </div>
                        <li th:text="*{rcpName}"></li>
                        <li th:text="*{rcpInfo}"></li>
                        <li th:text="*{requiredIng}"></li>
                        <li th:text="*{category}"></li>
                        <li th:text="*{subCategory}"></li>
                    </a>
                    <th:block th:if="${@memberUtil.isAdmin()}">
                        <li th:text="#{여름지기마켓}"></li>
                    </th:block>
                    <th:block th:unless="${@memberUtil.isAdmin()}">
                        <a th:href="@{임시}">
                        닉네임 : <li th:if="*{member != null}" th:text="*{member.nickname}"></li>
                        </a>
                    </th:block>
                    <th:block th:if="*{profileImage != null && profileImage.size() != 0}">
                        <th:block th:utext="*{@utils.printThumb(profileImage[0].seq, 100, 100, 'profile_img')}">
                        </th:block>
                    </th:block>
                    <br><br><br><br><br>
                </ul>
            </div>

        </div>


    </div>
    <!-- 임시 페이지네이션 -->
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>


</main>

</html>