<!-- 유저 블로그에서 레시피 탭에서 등록 가능 ? -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section th:replace="~{front/outlines/_banner::banner}">
    </section>

    <div>
        <th:block sec:authorize="isAuthenticated()">
        <h1>레시피 작성</h1>
        <form name="rcpSave" th:action="@{/recipe/create}" method="post" autocomplete="off"
              th:object="${session.member}">
            <input type="hidden" name="gid" value="6">
            <input type="hidden" name="mode" value="add">
            <button type="reset">다시입력</button>
            <button type="submit">완료</button>
            <div>
                <a href="#">뒤로가기</a>레시피 작성

            </div>
            <!-- 닉네임 테스트 -->
            작성자 : <input type="text" th:value="*{nickname}">
            <div>
                <p>업로드 완료시 포인트 300p</p>
                *반복적이거나 성의 없는 콘텐츠는 관리자에 의해<br>
                콘텐츠 삭제 후 적립금이 반환 될 수 있습니다.
                <br><br>
            </div>
            <div>
                <div id="main_image"></div>
                <textarea id=html_top""></textarea>
                <button type="button" data-location="html_top" class="upload_files"
                        th:text="#{대표이미지_업로드}" data-image-only="false"
                        data-single-file="false"></button>
                <input type="text" id="rcpName" name="rcpName" placeholder="레시피의 이름이 무엇인가요?"><br>
                <textarea placeholder="레시피에 대한 간단한 설명을 덧붙여주세요."></textarea>
                <br><br>
            </div>
            <div>
                <p>카테고리</p>
                <input type="text" id="rcpCate" name="rcpCate">
                <br><br>
            </div>
            <div>
                <p>해시태그</p>
                <div>
                    <input type="checkbox">..
                </div>
                해시태그 직접입력<input type="text" id="tag" name="tag">
            </div>
            <div>
                <p>필수재료</p>
                <input type="text" placeholder="예) 당근"><input type="text" placeholder="예) 1개"><br>
                <button>추가</button><br>
                <p>양념</p>
                <input type="text" placeholder="예) 소금"><input type="text" placeholder="예) 1큰술"><br>
                <button>추가</button>
            </div>
            <div>
                <h3>만드는 방법</h3>
                <div id="howTo_box">
                    <textarea placeholder="만드는 방법을 입력하세요."></textarea><br>
                </div>
                <div id="howTo_image"></div>

                <button type="button" data-location="html_bottom" class="upload_files"
                        th:text="#{이미지_업로드(선택)}" data-image-only="true"
                        data-single-file="true"></button>
                <button type="button" class="upload_files"
                        th:text="#{이미지_업로드(선택)}" data-image-only="true"
                        data-single-file="true"></button><br>

                <input type="button" th:text="#{단계_추가}" id="stageAdd" onclick="add_textbox(this)"><br>
                <div id="tip_box"></div>
                <input type="button" th:text="#{TIP_추가}" id="tipAdd" onclick="add_textbox(this)"><br>

            </div>

        </form>

        <script th:replace="~{common/_file_tpl::image1_tpl}"></script>
        <!-- 완료 후 공통 스크립트 만들기-->
        <script>
            const { popup } = commonLib;
            <!-- 임시 - 레시피 팝업 for문으로 ..-->
            rcpCate.onfocus = () => popup.open('/recipe/rcpCate', 350, 400);
            tag.onfocus = () => popup.open('/recipe/rcpCate', 350, 400);


            // 요소 추가하기
            const add_textbox = (el) => {

            const box = el.id === 'stageAdd' ? document.getElementById('howTo_box')
             : document.getElementById('tip_box');

                const newP = document.createElement('p');
                newP.innerHTML = "<textarea placeholder='만드는 방법을 입력하세요.'></textarea> <input type='button' value='삭제' onclick='remove(this)'>";
                box.appendChild(newP);
            }
            // 요소 삭제하기
            const remove = (obj) => {
            console.log(obj.id);


            const how = obj.closest("#howTo_box");
            const tip = obj.closest("#tip_box");

            const box = how != null ? document.getElementById('howTo_box')
             : document.getElementById('tip_box');
             box.removeChild(obj.parentNode);

            }

        </script>
        </th:block>
    </div>
</main>
</html>