<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<!--<th:block sec:authorize="isAnonymous()">
</th:block>-->

<main layout:fragment="content" class="recipe_form" th:object="${recipe}">
    <h1>상세보기</h1>
    [[${recipe}]]<br><br>
    <!-- 메인 이미지 -->
    <div class="product_images">
        <div class="main_image">
            <img th:if="*{mainImages != null && !mainImages.isEmpty()}" th:src="*{mainImages[0].fileUrl}">
        </div>
        <div class="thumbs" th:if="*{mainImages != null && !mainImages.isEmpty()}" >
            <div th:each="thumb : *{mainImages}" th:style="${@utils.backgroundStyle(thumb)}"
                 class="thumb" th:data-url="${thumb.fileUrl}"></div>
        </div>
    </div>
    <div>
        <th:block sec:authorize="isAuthenticated()">
        <a th:href="@{/recipe/edit/{seq}(seq=*{seq})}"
           th:text="#{수정}" class="btn"></a><br><br>
        <a th:href="@{/recipe/delete/{seq}(seq=*{seq})}"
           th:text="#{삭제}" class="btn"></a><br><br>
        </th:block>
        <div><!-- 멤버, 레시피 정보 출력 -->

            <div>
                <!-- 유저 프로필, 아이디-->
            </div>
            <div>
                <th:block th:text=*{rcpName}></th:block>
            </div>

            <div>
                <th:block th:text="*{EstimatedT} + #{분_컷}"></th:block>
                <th:block th:text="*{category + '-' +subCategory}"></th:block><br>
                <th:block th:text="*{rcpInfo}"></th:block><br>
                <th:block th:text="#{해쉬태그}"></th:block><br>
                <th:block th:text="#{댓글}"></th:block><br>
            </div>
        </div>
        <br><br><br><br><br><br><br>

        <div> <!-- 재료/만드는 방법-->
            <div><!-- 재료 -->
                <a href="#ing" th:text="#{재료}"></a> | <a href="#howTo" th:text="#{만드는_방법}"></a> <!-- 클릭 시 위치로 이동 -->
                <br><br><br><br><br><br><br>
                <a id="ing"><h2 th:text="#{재료}"></h2></a>
                <th:block th:text="*{amount} + #{인분_기준}"></th:block>

                <h3 th:text="#{주재료}"></h3>
                <ul th:each="required: *{requiredIng}">
                    <li th:text="${required}"></li>
                </ul>

                <h3 th:text="#{부재료}"></h3>
                <ul th:each="sub: *{subIng}">
                    <li th:text="${sub}"></li>
                </ul>

                <h3 th:text="#{양념}"></h3>
                <ul th:each="cond: *{condiments}">
                    <li th:text="${cond}"></li>
                </ul>
            </div>

            <br><br><br><br><br><br><br>

            <div> <!-- 만드는 방법 -->
                <a id="howTo"><p th:text="#{만드는_방법}"></p></a>

                1

                끓는 물에 잘게 찢은 팽이버섯과 채썬 양파를 데치고 찬물에 씻는다.<br>

                2

                물이 끓는 동안 기름을 두른 팬에 채썬 애호박을 썰다가 어슷썬 대파를 넣어 마저 볶는다.<br>

                3

                볶으면서 소금으로 간하고, 고춧가루를 뿌려 골고루 섞는다.<br>

                4

                불을 끄고 들기름을 두른 후 잔열을 활용하여 볶는다.<br>

                5

                데쳐서 식혀 둔 팽이버섯과 양파 위에 볶은 애호박을 얹고 깨를 뿌려 마무리한다.<br>

                -------------------------------<br>
                <br><br><br><br><br>
            </div>
        </div>
    </div>

</main>
</html>