<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="product_detail layout_width" th:object="${recipe}">
    <section class="product_main">
        <div class="product_images">
            <div class="main_image">
                <img th:if="*{mainImages != null && !mainImages.isEmpty()}" th:src="*{mainImages[0].fileUrl}">
            </div>
            <div class="thumbs" th:if="*{mainImages != null && !mainImages.isEmpty()}" >
                <div th:each="thumb : *{mainImages}" th:style="${@utils.backgroundStyle(thumb)}"
                     class="thumb" th:data-url="${thumb.fileUrl}"></div>
            </div>
        </div>
        <div class="right_section">
            <div><!-- 멤버, 레시피 정보 출력 -->
                <div class="farmer_info">
                    <div class="farm">
                        <a href="#">
                            <div th:if="*{profileImage != null}">
                                <th:block class="profile_img" th:utext="*{@utils.printThumb(profileImage.seq, 50, 50, 'profile_img')}">
                                </th:block>
                            </div>
                            <span class="recipe_poster" th:if=*{authoritychk} th:text="#{여름지기마켓}"></span>
                            <span class="recipe_poster" th:unless=*{authoritychk} th:if="*{member != null}" th:text="*{member.nickname}"></span>
                        </a>
                    </div>
                    <div class="backBtnDiv">
                        <button type="button" class="product_action backBtn" th:text="#{목록}"></button>
                    </div>
                </div>
                <div class="product_info">
                    <span class="rcp_title" th:text=*{rcpName}></span>
                    <div class="rcp_ect">
                        <span class="estimated" th:text="*{EstimatedT} + #{분_컷}"></span>
                        <span class="cateNm" th:text="*{recipeCate.cateNm}"></span>
                        <hr style="margin-top: 24px; margin-bottom: 24px;">
                        <div>
                            <th:block th:text="*{rcpInfo}"></th:block><br>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btns">
                <th:block th:if="${@memberUtil.isMember()}">
                    <a th:if="*{showEditButton}" th:href="@{/recipe/edit/{seq}(seq=*{seq})}">
                        <button type="button" th:text="#{수정하기}" class="product_action"></button>
                    </a>
                    <a th:if="*{showDeleteButton}" th:href="@{/recipe/delete/{seq}(seq=*{seq})}"><button type="button" th:text="#{삭제하기}" class="product_action incartBtn" onclick="return confirm('정말 삭제하겠습니까?');"></button>
                    </a>
                </th:block>
            </div>
        </div>

    </section>

    <section class="product_tabs">
        <ul class="tabs">
            <li class="tab">
                <input type="radio" name="tab" id="ings" value="ings" checked>
                <label for="ings">재료</label>
            </li>
            <li class="tab">
                <input type="radio" name="tab" id="howto" value="howto">
                <label for="howto">만드는 방법</label>
            </li>
        </ul>


        <div class="tab_content" id="tab_content_ings">
            <div class="content">
                <span class="ings" th:text="#{재료}"></span>
                <span class="amount" th:text="*{amount} + #{인분_기준}"></span>
            </div>
            <div class="sub_content">
                <div class="border">
                    <div>
                        <span class="sub" th:text="#{주재료}"></span>
                    </div>
                    <div class="requiredIngP_border">
                        <div class="requiredIngP" th:each="requiredP, status : *{requiredIngP}">
                            <span th:text="${requiredP}"></span>
                            <span th:text="${recipe.requiredIngEaP[status.index]}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub_content">
                <div class="border">
                    <div>
                        <span class="sub" th:text="#{부재료}"></span>
                    </div>
                    <div class="requiredIngP_border">
                        <div class="requiredIngP" th:each="subP, status : *{subIngP}">
                            <span th:text="${subP}"></span>
                            <span th:text="${recipe.subIngEaP[status.index]}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub_content">
                <div class="border">
                    <div>
                        <span class="sub" th:text="#{양념}"></span>
                    </div>
                    <div class="requiredIngP_border">
                        <div class="requiredIngP" th:each="conP, status : *{condimentsP}">
                            <span th:text="${conP}"></span>
                            <span th:text="${recipe.condimentsEaP[status.index]}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab_content dn" id="tab_content_howto">
            <div class="content">
                <span class="ings" th:text="#{만드는_방법}"></span>
            </div>

            <div class="border_howto">
                <div class="howto_border" th:each="h, status: *{howP}">
                    <div class="howto_list" >
                        <span class="howto_no" th:text="${status.count}"></span>
                        <span class="content" th:text="${h}"></span>
                    </div>
                </div>
                <div class="howto_border" th:each="t: *{tipP}">
                    <div class="howto_list" >
                        <span class="tip_no" th:text="#{TIP}"></span>
                        <span class="content" th:text="${t}"></span>
                    </div>
                </div>
            </div>

    </section>


</main>
</html>