<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">  <!--csrf 토큰 추가-->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/product/select.css?v={v}(v=${siteConfig.cssJsVersion})}">
    <script th:each="jsFile : ${addScript}"
            th:src="@{/admin/js/{file}.js?v={v}(file=${jsFile}, v=${siteConfig.cssJsVersion})}"></script>
    <script th:each="jsFile : ${addCommonScript}"
            th:src="@{/common/js/{file}.js?v={v}(file=${jsFile}, v=${siteConfig.cssJsVersion})}"></script>
    <script th:src="@{/common/js/common.js?v={v}(v=${siteConfig.cssJsVersion})}"></script>
    <script th:src="@{/admin/js/common.js?v={v}(v=${siteConfig.cssJsVersion})}"></script>
</head>
<body>
    <form name="addressFrm" method="post" th:object="${requestAddress}">
        <table class="table_cols mb30">
            <tr>
                <th></th>
                <td>
                    <input type="hidden" name="seq" th:value="*{seq}">
                    <input type="text" name="addr.zoneCode" readonly th:placeholder="#{우편번호}" id="zoneCode" th:field="*{addr.zoneCode}">
                    <button type="button" class="search_address sbtn" th:text="#{주소_찾기}" data-zonecode-id="zoneCode" data-address-id="address"></button>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="text" name="addr.address" readonly  th:placeholder="#{주소}" id="address" th:field="*{addr.address}">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="text" name="addr.addressSub" th:placeholder="#{나머지_주소}" th:field="*{addr.addressSub}">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="text" name="addr.title" th:field="*{addr.title}" 소:placeholder="#{배송지명}">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="checkbox" name="addr.defaultAddress" th:field="*{addr.defaultAddress}" id="defaultAddress">
                    <label for="defaultAddress">기본 배송지로 설정</label>

                </td>
            </tr>
        </table>
        <div class="submit_btns">
            <button type="submit" class="btn">등록하기</button>
        </div>
    </form>
</body>
</html>


