<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">

    <form name="frmSave" method="post" th:action="@{/admin/member/save}" autocomplete="off" th:object="${member}">


        <h1>회원 권한 부여</h1>
        <div class="mb30">
            <input type="checkbox" name="authorities" value="ADMIN" id="authority_admin" th:field="*{authorities}">
            <label for="authority_admin">관리자</label>
        </div>

        <h1>활동 여부 설정</h1>
        <div class="mb30">
            <input type="radio" name="activity" id="activity_true" value="true" th:field="*{activity}">
            <label for="activity_true">계정 활동 가능</label>
            <input type="radio" name="activity" id="activity_false" value="false" th:field="*{activity}">
            <label for="activity_false">계정 활동 불가능</label>
        </div>

        <h1>회원 정보 설정</h1>
        <input type="hidden" name="mode" value="edit">
        <input type="hidden" name="seq" th:field="*{seq}">
        <dl class="mb30">
            <dt th:text="#{아이디}"></dt>
            <dd>
                <div>
                    <input type="text" name="userId" th:field="*{userId}">
                </div>
            </dd>
            <dt th:text="#{이메일}"></dt>
            <dd>
                <div>
                    <input type="text" name="email" th:field="*{email}">
                </div>
            </dd>
            <dt th:text="#{회원명}"></dt>
            <dd>
                <div>
                    <input type="text" name="username" th:field="*{username}">
                </div>
            </dd>
            <dt th:text="#{닉네임}"></dt>
            <dd>
                <div>
                    <input type="text" name="nickname" th:field="*{nickname}">
                </div>
            </dd>
            <dt th:text="#{전화번호}"></dt>
            <dd>
                <div>
                    <input type="text" name="tel" th:field="*{tel}">
                </div>
            </dd>
        </dl>

        <h1>주소 설정</h1>
        <table class="table_rows">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="checkall" id="checkall" data-target-name="chk">
                        <label for="checkall"></label>
                    </th>
                    <th>기본배송지</th>
                    <th>별칭</th>
                    <th>우편번호</th>
                    <th>주소</th>
                    <th>상세주소</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="*{address != null && !address.isEmpty()}" th:each="add, status : *{address}">
                    <td>
                        <input type="checkbox" name="chk" th:value="${status.index}" th:id="${'chk_' + status.index}">
                        <input type="hidden" th:name="${'seq_' + status.index}" th:value="${add.seq}">
                        <label th:for="${'chk_' + status.index}"></label>
                    </td>
                    <td>
                        <input type="radio" name="default" value="true" th:id="${'default_true_' + status.index}" th:checked="${add.defaultAddress}">
                        <label th:for="${'default_true_' + status.index}"></label>
                    </td>
                    <td th:text="${add.title}"></td>
                    <td th:text="${add.zoneCode}"></td>
                    <td th:text="${add.address}"></td>
                    <td th:text="${add.addressSub}"></td>
                    <td>
                        <button th:value="${'/admin/member/address/' + add.seq}" class="sbtn addrBtn" type="button">수정하기</button>
                    </td>
                </tr>
                <tr th:unless="*{address != null && !address.isEmpty()}">
                    <td colspan="6" class="no_data">조회된 주소가 없습니다.</td>
                </tr>
            </tbody>
        </table>

        <div class="submit_btns">
            <button type="submit" class="btn" onclick="history.go(-1);">뒤로가기</button>
            <button type="submit" class="btn">수정하기</button>
        </div>
    </form>
<script>
    const { popup } = commonLib;
    const addrBtns = document.getElementsByClassName("addrBtn");

    for( const el of addrBtns){
        const link = el.value;
        console.log("el", el, "el.value", el.value);

        el.onclick = () => popup.open(link, 450, 450);
    }
</script>
</section>
</html>