<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">

    <form name="frmSave" method="post" th:action="@{/admin/member/save}" autocomplete="off">

    <h1>관리자 권한 설정</h1>
        <div class="mb30">
            <input type="radio" name="authority" id="adminTrue" value="user">
            <label for="adminTrue">관리자 권한 부여</label>
            <input type="radio" name="authority" id="adminFalse" value="admin">
            <label for="adminFalse">관리자 권한 해제</label>
        </div>
    <h1>계정 활성화 여부 설정</h1>
        <div class="mb30">
            <input type="radio" name="activity" id="activeTrue" value="true" checked="${member.activity == true}">
            <label for="activeTrue">계정 활동 가능</label>
            <input type="radio" name="activity" id="activeFalse" value="false" checked="${member.activity == false}">
            <label for="activeFalse">계정 활동 정지</label>
        </div>
    <h1>회원 정보 설정</h1>
        <input type="hidden" name="mode" value="edit">
        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <div>
                    <input type="text" name="userId" th:value="${member.userId}">
                </div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <div>
                    <input type="text" name="email" th:value="${member.email}">
                </div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{회원명}"></dt>
            <dd>
                <div>
                    <input type="text" name="username" th:value="${member.username}">
                </div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{닉네임}"></dt>
            <dd>
                <div>
                    <input type="text" name="nickname" th:value="${member.nickname}">
                </div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{전화번호}"></dt>
            <dd>
                <div>
                    <input type="text" name="tel" th:value="${member.tel}">
                </div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{주소}"></dt>
            <dd>
                <div>
                    <input type="text" name="address" th:if="${address != null}" th:value="${'(' + address[0].zoneCode + ')' + address[0].address}">
                    <input type="text" name="addressSub" th:if="${address != null}" placeholder="나머지 주소 입력" th:value="${address != null and address[0].addressSub != null} ? ${address[0].addressSub} : ''">
                </div>
            </dd>
        </dl>

        <div class="submit_btns">
            <button type="submit" class="btn" onclick="history.go(-1);">뒤로가기</button>
            <button type="submit" class="btn">수정하기</button>
        </div>
    </form>
</section>
</html>