<div xmlns:th="http://www.thymeleaf.org">
    <section class="bookmark" th:fragment="bookmark">
        <h3>북마크</h3>

        <div class="item" th:each="recipe : ${recipes}" th:object="${recipe}" th:if="*{recipe.active}">

            <div class="share_btns" >
                <button type="button" class="save_post" th:data-seq="*{seq}" data-refresh="true" th:classappend="*{@recipeWishService.saved(seq)} ? 'on'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: rgba(0, 0, 0, 0.5); height: 24px; width: 24px; stroke: var(--f-mkcy-f); stroke-width: 2; overflow: visible;"><path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"></path></svg>
                </button>
            </div>

            <div class="bookmarkItem">
                <a th:href="@{/recipe/view/{seq}(seq=*{seq})}">
                    <div>
                    <div class="imgBox">
                        <th:block th:block th:if="*{mainImages != null && mainImages.size() != 0}" th:utext="*{@utils.printThumb(mainImages[0].seq, 1000, 1000, 'recipe_main')}"></th:block>
                        <div class="imgBox_in cate">
                            <form name="frmSearch" method="get" th:action="@{/recipe/list}">

                            </form>
                        </div>
                    </div>
                    </div>
                    <th:block th:unless="*{mainImages != null && mainImages.size() != 0}" width="100px" height="100px"></th:block>
                </a>
                <div class="post_list">
                    <a class="flex" th:href="@{임시}">
                        <th:block th:if="*{profileImage != null}">
                            <th:block th:utext="*{@utils.printThumb(profileImage.seq, 50, 50, 'profile_img')}">
                            </th:block>
                        </th:block>
                        <div class="poster" th:if=*{authoritychk} th:text="#{여름지기마켓}"></div>
                        <div class="poster" th:unless=*{authoritychk} th:if="*{member != null}" th:text="*{member.nickname}"></div>
                    </a>
                </div>
            </div>
            <div class="rcpName_list">
                <span class="rcpName" th:text="*{rcpName}"></span>
            </div>

            <div class="rcpCate_list">
                <th:block th:each="re : *{requiredIngP}">
                    <input type="hidden" name="sopt" value="rcpIng">
                    <button class="product_action ingBtn" name="skey" th:value="${re}"
                            th:text="${re}">
                    </button>
                </th:block>
                <!--<span th:text="*{recipeCate}"></span>-->
            </div>
        </div>
    </section>
</div>