/* 음식 분류 */

.category_container {
    background-color: #fff;
    width: 500px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 6px rgba(0,0,0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.category_header {
    font-size: 24px;
    font-weight: 600;
    color: #222;
    margin: 0;
    padding: 0;
}
.category_button_area {
    margin: 30px;
}
.category_button_area input[type='radio'] {
display: none;
}
.category_button_area input[type='radio']+label {
display: inline-block;
font-size: 0.95rem;
padding: 0 10px; height: 30px;
line-height: 26px;
font-weight: bold;
border-radius: 5px;
border: 1px solid #D3D2D2;
background-color: #F6F4F4;
color: #887B7B;
cursor: pointer;
margin: 5px;
}
.category_button_area input[type='radio']:checked+label {
background: var(--sub-color); color: #fff;
}

.category_select_done {
width: 90px; height: 40px;
border-radius: 5px;
border: 1px solid #D3D2D2;
background-color: var(--highlight-color);
color: #fff;
font-weight: bold;
pointer: cursor;
}

ul, li{
    list-style: none;
}

.category_container {
    background-color: #fff;
    width: 500px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 6px rgba(0,0,0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.category_header {
    font-size: 24px;
    font-weight: 600;
    color: #222;
    margin: 0;
    padding: 0;
}

.category_list,
.category_button_area {
    width: 100%;
}

.category_list ul,
.category_button_area ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.category_list ul li {
    width: 50%;
}

.category_button_area {
    margin: 20px 0;
}

.category_button_area ul{
    display: flex;
    justify-content: center;
}

.category_button_area ul li {
    list-style: none;
    margin: 0 5px;
}

.category_button_area ul li button {
    font-size: 1.1rem;
    font-weight: 300;
    background-color: transparent;
    border: none;
    background: #eee;
    padding: 5px 15px;
    border-radius: 100px;
    cursor: pointer;
}

.category_button_area ul li button.active {
    font-size: 1.2rem;
    font-weight: 300;
    background: var(--main-color);
    color: #fff;
}
.category_list input[type='radio'] { display: none; }
.category_list input[type='radio']+label {
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    color: #222;
    padding: 10px 15px; }
.category_list input[type='radio']:checked+label {
    background: var(--main-color);
    color: #fff;
    }