.recipe_form { width: 400px; margin: 0 auto; }
/* 공통 */
.stit { font-weight: 500; margin: 15px 0 10px; }

/* 대표이미지 S */
#main_images { background: #d5d5d5; width: 400px !important; height: 400px !important; display: flex;  flex-direction: column; align-items: center; justify-content: center; color: #222; margin: 0 auto; }
#main_images i { font-size: 3rem; cursor: pointer; }
#main_images.uploaded i, #main_images.uploaded .txt { display: none; }
.image1_tpl_box { width: 102px; cursor: pointer; }
.image1_tpl_box > .inner { width: 100px; height: 100px; }
.main_image_box .thumbs { display: flex; }
.main_image_box .thumbs .image1_tpl_box { margin: 3px 0; }
.main_image_box .thumbs .image1_tpl_box + .image1_tpl_box { margin-left: 3px; }
/* 대표이미지 E */

input[type='text'],
input[type='password'],
input[type='number']{ width: 100%; height: 45px; border: 1px solid #d5d5d5; padding; 0 10px; }
textarea { border: 1px solid #d5d5d5; width: 100%; resize: none; height: 100px; padding: 10px; }

/* 예상 소요시간 S */
.estimate_times input[type='radio'] { display: none; }
.estimate_times input[type='radio']+label { display: inline-block; border: 1px solid #222;
 background-color: #fff; color: #222; font-size: 0.95rem;
 border-radius: 5px;
 padding: 0 10px; height: 30px;
 line-height: 26px; cursor: pointer;
 font-weight: bold;
 }
.estimate_times input[type='radio']:checked+label { background: #222; color: #fff; }
/* 예상 소요시간 E */

/* 기준량 S */
.amount_box { display: flex; align-items: center; }
.amount_box input[type='number'] { width: 50px; height: 35px; text-align: right; }
.amount_box button { height: 35px; }
/* 기준량 E */

/* 추가 버튼 */
.add_input_item {
display: block; width: 100%; height: 40px;
border-radius: 5px;
border: 1px solid #D3D2D2;
background-color: #F6F4F4;
color: #887B7B;
cursor: pointer;
}

.xi-close::before {
    color: #fff;
}

/* 완료 버튼 */
.recipe_form .submit_btn {
display: block; width: 100%; height: 45px;
margin-top: 20px;
background-color: var(--main-color);
color: #fff;
border-radius: 5px;
border: 1px solid #fff;
cursor: pointer;
}

.input_item_box .item_box { display: flex; }
.input_item_box .item_box input[type='text'] { padding: 0 10px; border-radius: 5px; }
/*.input_item_box .item_box input[type='text']:last-of-type { width: 80px; }*/
.input_item_box .item_box button { width: 40px; }

.input_item_box .item_box .remove_item {
width: 40px;
background-color: var(--highlight-color);
border-radius: 5px;
border: 2px solid var(--sub-color);
cursor: pointer;
}

/* 레시피 메인 S */
.content_official {
    padding: 50px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(3, minmax(0,1fr));
    row-gap: 40px;
}
.content_official .item .imgBox {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    position:relative;
}
.content_official .item .imgBox img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* 슬라이드 S */
.rcp_slide {
    justify-content: flex-start; /* 좌측 정렬 설정 */
    flex-wrap: wrap;
    margin: 0 auto; /* 좌우 여백 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    padding: 20px 0 50px 0;
    align-items: center;
}
.prod_button {
     background-color: #21BF73;
     color: #fff;
     border: none;
     padding: 10px;
     cursor: pointer;
     font-size: 16px;
}
.flex {
    display : flex;
}
.recent {
    column-gap: 15px;
    grid-template-columns: repeat(3,minmax(0,1fr));
    row-gap: 40px;
    display: grid;
    margin: 49px;
}
.imgBox .recipe_main {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* 레시피 메인 E */

/* 레시피 리스트 S */
.contentBox{
    padding: 50px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(3, minmax(0,1fr));
    row-gap: 40px;
}
.contentBox .share_btns{
margin-left: 10px;
margin-bottom: -10px;
}

.contentBox .item {
    width: 800px;
    height: 800px;
}
.contentBox .item .imgBox{
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    position:relative;
}
.contentBox .item .imgBox img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.cate {
position: absolute;
    user-select: auto !important;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.cate_main {
margin: 10px 0;

}
.post_list .img_nick {
    display: flex;
    align-items: center;
}
.item .post_list * {
 position:relative;
 }

/*
.item .poster { color: var(--main-color); font-weight: bold; font-size: 1.2rem; align-items: center; }
*/


.font-semibold {
    font-weight: 600;
}
.text-16px {
    font-size: 16px;
}
.items-center {
    align-items: center;
}
.gap-2px {
    gap: 2px;
}

label:hover {
    background-color: var(--main-color);
    color: #fff;
}

.rcpName_list {
margin: 5px 0;

}
.rcpName_list .rcpName {
color: #887B7B;
font-weight: bold;
 font-size: 1.285rem;

}
.rcpInfo_list {
overflow: hidden;
text-overflow: ellipsis;
white-space: normal;
word-wrap: break-word;
display: -webkit-box;
-webkit-line-clamp: 2 ;
-webkit-box-orient: vertical;
width: 280px;
}

.item .rcpName_list {
 margin: 10px 0;
 }
.item .rcpName_list .rcpEst {
border: 1px solid #D3D2D2; border-radius: 5px;
padding: 2px; color:#887B7B;
background-color: #F6F4F4;
margin-left: 5px;
}
/* 레시피 리스트 E */


/* 레시피 상세 S */
/* 버튼 스타일 */
.product_action {
    padding: 5px 10px;
    font-size: small;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.addbtn {
    margin: 30px;
    float: right;

}

.incartBtn {
    background-color: var(--sub-color);
}

.backBtn {
    background-color: var(--sub-color);
}

.ingBtn {
    color: #887B7B;
    border: 1px solid #D3D2D2;
    background-color: #F6F4F4;

}
.ingBtn_main {
    color: #fff;
    border: 1px solid #D3D2D2;
    background-color: #adaaaa;

}

.ingBtn_main:hover {
    background-color: var(--highlight-color);
    color: #fff;
}

.ingBtn:hover {
    background-color: var(--highlight-color);
    color: #fff;
 }

 .xi-angle-right:before {
     font-size: 30px;
 }
  .xi-angle-right{
      pointer:cursor;
       align-items: center;
       display: flex;
}
.xi-angle-left:before {
font-size: 30px;

 }
.xi-angle-left {
    pointer:cursor;
    align-items: center;
     display: flex;
}


.rcp_official .allbtn {
     width: 90%;
     border: 1px solid #D3D2D2;
     border-radius: 5px;
     background-color: #F6F4F4;
     text-align: center;
     padding: 10px;
     margin: 10px;
     cursor: pointer;
     color: #887B7B;
}
.rcp_slide .allbtn{
     width: 90%;
     border: 1px solid #D3D2D2;
     border-radius: 5px;
     background-color: #F6F4F4;
     text-align: center;
     padding: 10px;
     margin: 10px;
 }

.allbtn span {
 color: #887B7B;
}

.product_name {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}
.cate_select button {
     background-color: var(--main-color);
     color: #fff;
     border: 1px solid #fff;
     border-radius: 5px;
     padding: 10px;
}




/* 레시피 상세 E */

/* 검색 S */
.rcpsearchBox {
    position: absolute;
    width: 500px; /* 원하는 너비로 조절 */
    color: #887B7B;
    border: 1px solid #F6F4F4;
    background-color: #F6F4F4;
    border-radius: 10px; /* 테두리 없앴을 때의 둥글기 정도 */
    padding: 0 10px /* 필요에 따라 내부 여백을 조절할 수 있습니다. */

}

.rcpsearchBox .searchFrm {
    /*right: 5px; *//**//* 원하는 위치 조절 *//*
    transform: translateY(-50%);*/
    padding: 5px;
    background-color: #F6F4F4; /* 버튼의 배경색을 원하는 색상으로 지정 */
    color: white; /* 버튼 텍스트 색상을 흰색으로 지정 */
    border-radius: 5px; /* 테두리 둥글기 정도 조절 */
}

.rcpsearchBox .searchFrm .search_container {
    /* width: fit-content; /* 내용의 크기에 맞게 넓이 지정 */
    width: 100%;
}

.ing_searchBox {
    margin: 70px 0;

}

.rcpsearchBox .search_container .form_list_input{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.rcpsearchBox .search_container .form_list_input .search_select {
     color: #444;
     background-color: #F6F4F4;
     border: 0px;
     border-right: 1px solid #D3D2D2;
}

.rcpsearchBox .search_container .form_list_input input[type="text"] {
    margin-left: 20px;
    background-color: #F6F4F4;
    height: 44px;
    color: black;
    border: none;
}

.rcpsearchBox .search_container .form_list_input input[type="text"]::placeholder {
    color: gray; /* placeholder 텍스트의 색상을 흰색으로 지정 */
    font-size: 15px;
}

.xi-search::before {
    font-size: 20px; /* 아이콘 크기 조절 */
}

.xi-search {
    border: none; /* 테두리 없애기 */
    height: 44px;
    cursor: pointer;
    background: none;
}
/* 검색 E */

/* 탭 스타일 */
.tabs {
    list-style: none;
    display: flex;
}

.tab {
    text-decoration: none;
    /* padding: 10px 20px; */
    font-size: medium;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab input[type="radio"] {
    display: none;
}

.tab label {
    display: block;
    cursor: pointer;
    padding: 10px 20px;
}

.tab input[type="radio"]:checked + label {
    background-color: var(--highlight-color);
    color: #fff;
}

label:hover {
    background-color: var(--main-color);
    color: #fff;
}
/* 탭 콘텐츠 */
.tab_content {
    border-top: 1px solid #ccc;
}

.tab_content.on {
    display: block;
    margin-top: 20px;
}
.product_main { margin-top: 30px; }
.product_detail { max-width: 1000px; }
.product_detail .product_main { display: flex; margin-bottom: 100px; }
.product_detail .product_main .product_images { width: 450px; margin-right: 30px; }
.product_detail .product_main .main_image img { width: 100%;
 border-radius: 5px;}
.product_detail .product_main .right_section { flex-grow: 1; padding-left: 40px; padding-right: 40px; width: 500px; }
.product_detail .product_main .right_section .btns {
margin-top: 200px;
 }
.product_detail .product_main .product_info { margin-top: 5px;}

.product_detail .product_main .product_info .rcp_title { font-weight: bold; font-size: 1.93rem; }
.product_detail .product_main .product_info .rcp_ect {
 margin: 10px 0;
 }
.product_detail .product_main .product_info .rcp_ect .estimated {
border: 1px solid; border-radius: 5px;
padding: 2px;
}
.product_detail .product_main .product_info .rcp_ect .cateNm{
font-size: 1.1rem; color: #887B7B; margin-left: 5px;
}

.product_detail .product_main .farmer_info .farm * {position:relative; display: flex; align-items: center; }
.product_detail .product_main .farmer_info .farm .recipe_poster { font-weight: bold; font-size: 1.305rem; align-items: center; }
.product_detail .product_main .farmer_info { margin-top: 10px; }
.product_detail .product_main .farmer_info .backBtnDiv { float: right; }

.product_detail .thumbs { display: flex; height: 80px; margin-top: 10px; }
.product_detail .thumbs .thumb { width: 80px; cursor: pointer;
}
 .product_detail .thumbs .thumb img {
  border-radius: 5px; }
.product_detail .thumbs .thumb + .thumb { margin-left: 3px; }
.recipe_poster { color: var(--main-color); }


.product_detail .tabs { display: flex; align-items: center; }
.product_detail .tabs .tab { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.product_detail .tabs .tab:first-of-type { border-left: 1px solid #ccc; }

.tab_content .content { margin-top: 15px; }
.tab_content .content .ings { margin: 5px; font-weight: bold; font-size: 1.7rem; align-items: center; }
.tab_content .content .amount { margin: 5px; font-weight: bold; font-size: 1.205rem; align-items: center;  color: var(--sub-color); }
/* 재료 S */
.tab_content .sub_content { margin: 30px 10px; }
.tab_content .sub_content .border{
margin: 30px; width: 300px; height: 100px;
border: 1px solid #d5d5d5; border-radius: 10px;
margin: 5px; padding: 20px;}
.tab_content .sub_content .sub { margin: 5px; font-weight: bold; font-size: 1.205rem; }
.tab_content .sub_content .border .requiredIngP_border {
margin: 5px;
}
.tab_content .sub_content .border .requiredIngP {
border: 1px solid #D3D2D2;
border-radius: 5px;
background-color: #F6F4F4;
display: inline-block; padding: 5px
}
.tab_content .sub_content .border .requiredIngP span {
color: #887B7B
}
.tab_content .sub_content .border .requiredIngP span:first-child {
font-weight: bold;
}
/* 재료 E */
/* 만드는 방법 S */
.tab_content .border_howto {
margin-top: 20px;
}
.tab_content .border_howto .howto_list{
border: 1px solid #D3D2D2;
border-radius: 5px;
background-color: #F6F4F4;
display: inline-block;
margin: 10px; padding: 5px;
}
.tab_content .border_howto .howto_list .howto_no {
font-weight: bold; font-size: 1.305rem;
color: var(--main-color);
margin-right: 3px;
}
.tab_content .howto_list .content {
font-size: 1.2rem;
}
.tab_content .howto_list .{
font-weight: bold; font-size: 1.305rem;
}

.tab_content .howto_list .tip_no {
font-weight: bold; font-size: 1.25rem;
margin-right: 5px;
}

/* 만드는 방법 E */


/* 레시피 상세 E */

/* 레시피 상세*/
/*.recent .products {
    padding: 0;
}
.recent .share_btns {
    top: 20px;
    right: 20px;
}
.recent {
    width: 100%;
}
.recipeItem{
    position: relative;
}
.recent .imgBox {
    width: 100%;
    height: 240px;
}
.recent .recipe_main, .recent .profile_img {
    width: 100%;
    height: 100%;
}
.profileImage  {
    align-items: center;
    gap: 3px;
}
.profileImage .profile_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.poster {
    --tw-text-opacity: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}
.rcpName_list {
    font-weight: 700;
    font-size: 22px;
}
.rcpName_list .rcpName {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
}
.cateName {
    padding: 10px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    left: 0;
    bottom: 0;
    position: absolute;
}
.item .rcpName_list {
    margin: 10px 0;
 }*/
