<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
<h1>레시피 리스트</h1>
    <h2>레시피 검색</h2>
    <form name="frmSearch" method="get" th:action="@{/admin/recipe}" autocomplete="off" th:object="${recipeDataSearch}">
        <table class="table_cols mb30">
            <tr>
                <th>카테고리</th>
                <td>
                    <th:block th:if="*{#strings.isEmpty(cateCd)}">
                        <button type="button" name="cate_select" id="cate_select" class="sbtn">분류코드 선택</button>
                        <input type="hidden" id="cateCd" name="cateCd" th:field="*{cateCd}">
                    </th:block>
                    <th:block th:unless="*{#strings.isEmpty(cateCd)}">
                        <button type="button" name="cate_select" id="cate_select" class="sbtn on" th:text="*{@recipeUtils.findCateNm(cateCd)}"></button>
                        <input type="hidden" id="cateCd" name="cateCd" th:field="*{cateCd}">
                    </th:block>
                </td>
            </tr>
            <tr>
                <th>레시피 번호</th>
                <td>
                    <input type="number" name="seq" min="0" th:field="*{seq}">
                </td>
            </tr>
            <tr>
                <th>레시피명</th>
                <td>
                    <input type="text" name="name" th:field="*{rcpName}">
                </td>
            </tr>
            <tr>
                <th>작성자 닉네임</th>
                <td>
                    <input type="text" name="name" th:field="*{nickName}">
                </td>
            </tr>
            <tr>
                <th>상품 등록일</th>
                <td>
                    <input type="date" name="sdate" th:field="*{sdate}">
                    ~
                    <input type="date" name="edate" th:field="*{edate}">
                </td>
            </tr>
        </table>
        <div class="search_btn">
            <button type="submit" class="btn">검색하기</button>
        </div>
    </form>

    <h2>상품 목록</h2>
    <form name="frmList" method="post" th:action="@{/admin/recipe}" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="_method" value="PATCH">
        <table class="table_rows">
            <thead>
            <tr>
                <th width="40">
                    <input type="checkbox" class="checkall" id="checkall" data-target-name="chk">
                    <label for="checkall"></label>
                </th>
                <th width="100">레시피 번호</th>
                <th nowrap colspan="2">레시피명</th>
                <th width="100">작성자 닉네임</th>
                <th width="100">노출여부</th>
                <th width="250"></th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${items == null || items.isEmpty()}">
                <td colspan="6" class="no_data">조회된 상품이 없습니다.</td>
            </tr>
            <tr th:unless="${items == null || items.isEmpty()}" th:each="item, status : ${items}" th:object="${item}">
                <td>
                    <input type="hidden" th:name="${'seq_' + status.index}" th:value="*{seq}">
                    <input type="checkbox" name="chk" th:value="${status.index}" th:id="${'chk_' + status.index}">
                    <label th:for="${'chk_' + status.index}"></label>
                </td>
                <td th:text="*{seq}"></td>
                <td width="80">
                    <a class="image" th:href="@{/recipe/view/{seq}(seq=*{seq})}" target="_blank">
                        <th:block th:if="${item.mainImages != null && !item.mainImages.isEmpty()}" th:utext="${@utils.printThumb(item.mainImages[0].seq, 80, 80)}">
                        </th:block>
                        <th:block th:unless="${item.mainImages != null && !item.mainImages.isEmpty()}">
                            이미지 없음
                        </th:block>
                    </a>
                </td>
                <td th:text="*{rcpName}"></td>
                <td th:text="*{member.nickname}"></td>
                <td>
                    <select th:name="${'active_' + status.index}">
                        <option value="true" th:selected="*{active}">노출</option>
                        <option value="false" th:selected="*{!active}">미노출</option>
                    </select>
                </td>
                <td>
                    <a th:href="@{/recipe/edit/{seq}(seq=*{seq})}" class="sbtn">수정하기</a>
                    <a th:href="@{/recipe/view/{seq}(seq=*{seq})}" class="sbtn on">미리보기</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table_actions">
            <button type="button" class="sbtn form_action" data-mode="delete" data-form-name="frmList">선택 상품 삭제하기</button>
            <button type="button" class="sbtn on form_action" data-mode="edit" data-form-name="frmList">선택 상품 수정하기</button>
        </div>
    </form>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
    <script>
        const { popup } = commonLib;
        const cate_select = document.getElementById("cate_select");
        cate_select.onclick = () => popup.open('/admin/recipe/select', 450, 450);
    </script>
</section>

</html>