<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="member" th:object="${requestJoin}">
    <div class="extra_info farmer" id="farmerFrm">
        <dl>
            <dt th:text="#{농장이름}"></dt>
            <dd>
                <input type="text" class="input_text" name="farmTitle" th:field="*{farmTitle}">
                <div class="error" th:each="err : ${#fields.errors('farmTitle')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{사업자_번호}"></dt>
            <dd>
                <div class="b_no_box">
                    <input type="text" class="input_text" name="businessPermitNum" th:field="*{businessPermitNum}">
                    <button type="button" class="btn" th:text="#{확인하기}" id="bNoVerify"></button>
                </div>
                <div class="b_no_ok"></div>

                <div class="error" th:each="err : ${#fields.errors('businessPermitNum')}" th:text="${err}"></div>

                <div>
                    <div id="attached_file"></div>
                    <button type="button" th:text="#{사업자등록증_업로드}" class="btn upload_files"
                            data-location="business_permit"></button>
                </div>
            </dd>
        </dl>

    </div>


    <script th:replace="~{common/_file_tpl::attach_tpl}"></script>
</th:block>
</html>