<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1>회원정보 수정</h1>

    <th:block sec:authorize="isAuthenticated()">
        <form name="frmInfo" method="post" th:action="@{/member/info}" autocomplete="off" th:object="${requestMemberInfo}">
            <input type="hidden" name="gid" th:value="*{gid}">
            <input type="hidden" name="_method" value="PATCH">
            <dl>
                <dt th:text="#{이메일}"></dt>
                <dd>
                    <div>
                        <input type="text" name="email" th:field="*{email}" disabled>
                    </div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{아이디}"></dt>
                <dd>
                    <input type="text" name="userId" th:field="*{userId}" disabled>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{비밀번호}"></dt>
                <dd>
                    <input type="password" name="password" th:field="*{password}">
                    <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}">></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{비밀번호_확인}"></dt>
                <dd>
                    <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
                    <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}">></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{회원명}"></dt>
                <dd>
                    <input type="text" name="username" th:field="*{username}">
                    <div class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}">></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{전화번호}"></dt>
                <dd>
                    <input type="tel" name="tel" th:field="*{tel}" oninput="autoHyphen(this)" maxlength="13">
                </dd>
            </dl>

            <dl>
                <dt th:text="#{주소}"></dt>
                <dd>
                    <input type="text" name="zoneCode" th:field="*{zoneCode}">
                    <button type="button" class="search_address" th:text="#{주소_찾기}" data-zonecode-id="zoneCode" data-address-id="address"></button><br>
                    <div class="error" th:each="err : ${#fields.errors('zoneCode')}" th:text="${err}"></div>

                    <input type="text" name="address" th:field="*{address}">
                    <input type="text" name="addressSub" th:field="*{addressSub}">
                </dd>
            </dl>

            <dl>
                <dt th:text="#{프로필_이미지}"></dt>
                <dd>
                    <div id="profile_image">
                        <th:block th:if="*{profileImage != null}">
                            <div class="image1_tpl_box" th:id="*{'file_' + profileImage.seq}">
                                <a th:href="@{/file/delete/{seq}(seq=*{profileImage.seq})}" onclick="return confirm('정말 삭제하시겠습니까?');" class="remove" target="ifrmProcess">
                                    <i class="xi-close"></i>
                                </a>
                                <div class="inner" th:style="*{@utils.backgroundStyle(profileImage)}"></div>
                            </div>
                        </th:block>

                    </div>
                    <button type="button" class="upload_files"
                            th:text="#{이미지_업로드}" data-image-only="true" data-location="profile_img"
                            data-single-file="true"></button>
                </dd>
            </dl>

            <!--농장 주인 회원인 경우-->
            <th:block th:if="${session.member.class.simpleName == 'Farmer'}">
                <dl>
                    <dt th:text="#{농장이름}"></dt>
                    <dd>
                        <input type="text" name="farmTitle" th:field="*{farmTitle}">
                        <div class="error" th:each="err : ${#fields.errors('farmTitle')}" th:text="${err}">></div>
                    </dd>
                </dl>

                <dl>
                    <dt th:text="#{사업자_번호}"></dt>
                    <dd>
                        <div class="b_no_box">
                            <input type="text" name="businessPermitNum" th:value="*{businessPermitNum}" readonly>
                        </div>

                        <div>
                            <div id="attached_file">
                                <th:block th:if="*{businessPermitFiles != null}">
                                    <th:block th:each="file : *{businessPermitFiles}">
                                            <span class="file_tpl_box" th:id="${'file_' + file.seq}">
                                                <a th:href="@{/file/download/{seq}(seq=${file.seq})}" th:text="${file.fileName}"></a>
                                                  <a th:href="@{/file/delete/{seq}(seq=${file.seq})}" onclick="return confirm('정말 삭제하시겠습니까?');" class="remove" target="ifrmProcess">
                                                    <i class="xi-close"></i>
                                                </a>
                                            </span>
                                    </th:block>
                                </th:block>
                            </div>
                            <button type="button" th:text="#{사업자등록증_업로드}" class="upload_files"
                                    data-location="business_permit"></button>
                        </div>
                    </dd>
                </dl>
            </th:block>

            <button type="button" id="cancelBtn">취소</button>
            <button type="submit" id="saveBtn">저장</button>
            <button type="button" id="deleteBtn">회원탈퇴</button>

            <script th:replace="~{common/_file_tpl::image1_tpl}"></script>
            <script th:replace="~{common/_file_tpl::attach_tpl}"></script>

        </form>
    </th:block>

    <script>
        const deleteBtn = document.querySelector('#deleteBtn') ;
        deleteBtn.addEventListener('click', function() {
            var yes = confirm('정말 탈퇴하시겠습니까?') ;
            if (yes) { location.href='/member/delete' ; }
            else { }
        });
    </script>
</main>
</html>