<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{회원가입}"></h1>

    <input type="radio" name="memberType" id="member" checked="checked">
    <label for="member">일반회원</label>
    <input type="radio" name="memberType" id="farmer">
    <label for="farmer">농장주인</label>

    <form name="frmJoin" method="post" th:action="@{/member/join/farmer}" autocomplete="off" th:object="${requestJoin}">
        <input type="hidden" name="gid" th:field="*{gid}">
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <dl>
            <dt th:text="#{이메일}"></dt>
            <dd>
                <div>
                    <input type="text" name="email" th:field="*{email}"  th:readonly="${session.EmailAuthVerified != null && session.EmailAuthVerified}">
                    <button th:if="${session.EmailAuthVerified == null || !session.EmailAuthVerified}" type="button" id="email_verify" th:text="#{인증코드전송}"></button>
                </div>
                <div class="auth_box">
                    <th:block th:if="${session.EmailAuthVerified == null || !session.EmailAuthVerified}">
                        <input type="text" id="auth_num" th:placeholder="#{인증코드_입력}">
                        <span id="auth_count">03:00</span>
                        <button type="button" id="email_confirm" th:text="#{확인}" disabled></button>
                        <button type="button" id="email_re_verify" th:text="#{재전송}" disabled></button>
                    </th:block>
                    <th:block th:unless="${session.EmailAuthVerified == null || !session.EmailAuthVerified}">
                        <span class='confirmed' th:text="#{확인된_이메일_입니다.}"></span>
                    </th:block>
                </div>
                <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <input type="text" name="userId" th:field="*{userId}">
                <div class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="password" th:field="*{password}">
                <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{비밀번호_확인}"></dt>
            <dd>
                <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
                <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{회원명}"></dt>
            <dd>
                <input type="text" name="username" th:field="*{username}">
                <div class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{전화번호}"></dt>
            <dd>
                <input type="tel" name="tel" th:field="*{tel}" oninput="autoHyphen(this)" maxlength="13">
                <div class="error" th:each="err : ${#fields.errors('tel')}" th:text="${err}"></div>
                <div>휴대폰 본인인증(임시)</div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{닉네임}"></dt>
            <dd>
                <input type="text" name="nickname" th:field="*{nickname}">
                <div class="error" th:each="err : ${#fields.errors('nickname')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{주소}"></dt>
            <dd>
                <input type="text" name="farmZonecode" th:field="*{zonecode}" readonly th:placeholder="#{우편번호}">
                <button type="button" class="search_address" th:text="#{주소_찾기}"></button>
                <input type="text" name="farmAddress" th:field="*{address}" readonly  th:placeholder="#{주소}">

                <input type="text" name="farmAddressSub" th:field="*{addressSub}"   th:placeholder="#{나머지_주소}">

                <div class="error" th:each="err : ${#fields.errors('zonecode')}" th:text="${err}"></div>
                <div class="error" th:each="err : ${#fields.errors('address')}" th:text="${err}"></div>
                <div class="error" th:each="err : ${#fields.errors('addressSub')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{프로필_이미지}"></dt>
            <dd>
                <div id="profile_image"></div>
                <button type="button" class="upload_files"
                        th:text="#{이미지_업로드}" data-image-only="true"
                         data-single-file="true"></button>
            </dd>
        </dl>

        <!--추가 항목을 분리-->
        <th:block th:replace="~{front/member/_join_member::member}"></th:block>
        <th:block th:replace="~{front/member/_join_farmer::member}"></th:block>
        <!--추가 항목을 분리-->

        <div th:text="#{회원가입_약관}"></div>
        <div class="terms" th:utext="${@utils.nl2br(siteConfig.joinTerms)}"></div>
        <div class="terms_agree">
            <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
            <label for="agree" th:text="#{회원가입_약관에_동의합니다.}"></label>

            <div class="error" th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
        </div>
        <button type="submit" th:text="#{가입하기}"></button>
    </form>

    <script th:replace="~{common/_file_tpl::image1_tpl}"></script>

</main>
</html>