<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main class="max-w-screen-lg ma" layout:fragment="content">
    <h1 th:text="#{회원가입}"></h1>

    <form name="frmJoin" class="frmJoin" method="post" th:action="@{/member/join}" autocomplete="off" th:object="${requestJoin}">
        <div class="tabs">
            <input type="radio" name="mType" id="member" value="M">
            <label for="member" class="tab">일반회원</label>
            <input type="radio" name="mType" id="farmer" value="F">
            <label for="farmer" class="tab">농장주인</label>
        </div>
        <input type="hidden" name="gid" th:field="*{gid}">
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <dl>
            <dt th:text="#{이메일}"></dt>
            <dd>
                <div>
                    <input type="text" class="input_text" name="email" th:field="*{email}"  th:readonly="${session.EmailAuthVerified != null && session.EmailAuthVerified}" placeholder="이메일">
                    <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                    <button th:if="${session.EmailAuthVerified == null || !session.EmailAuthVerified}"
                            type="button" class="btn" id="email_verify" th:text="#{인증코드전송}"></button>
                </div>
                <div class="auth_box">
                    <th:block th:if="${session.EmailAuthVerified == null || !session.EmailAuthVerified}">
                        <div class="auth_inner">
                            <input type="text" id="auth_num" th:placeholder="#{인증코드_입력}">
                            <div id="auth_count">03:00</div>
                        </div>
                        <button type="button" class="btn" id="email_confirm" th:text="#{확인}" disabled></button>
                        <button type="button" class="btn" id="email_re_verify" th:text="#{재전송}" disabled></button>
                    </th:block>
                    <th:block th:unless="${session.EmailAuthVerified == null || !session.EmailAuthVerified}">
                        <span class='confirmed' th:text="#{확인된_이메일_입니다.}"></span>
                    </th:block>
                </div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <input type="text" class="input_text" name="userId" th:field="*{userId}" placeholder="6자 이상 입력">
                <button type="button" class="btn" id="userId_dup_check" th:text="#{중복_확인}"></button>
                <div class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
                <div class="id_check_ok"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" class="input_text" name="password" th:field="*{password}" placeholder="영문 대소문자,숫자,특수문자 포함해서 입력">
                <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{비밀번호_확인}"></dt>
            <dd>
                <input type="password" class="input_text" name="confirmPassword" th:field="*{confirmPassword}" placeholder="비밀번호 확인">
                <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{이름}"></dt>
            <dd>
                <input type="text" class="input_text" name="username" th:field="*{username}" placeholder="이름">
                <div class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{휴대폰번호}"></dt>
            <dd>
                <input type="tel" class="input_text" name="tel" th:field="*{tel}" oninput="autoHyphen(this)" maxlength="13" placeholder="휴대폰번호">
                <div class="error" th:each="err : ${#fields.errors('tel')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{닉네임}"></dt>
            <dd>
                <input type="text" class="input_text" name="nickname" th:field="*{nickname}" placeholder="닉네임">
                <button type="button" class="btn" id="nickname_dup_check" th:text="#{중복_확인}"></button>
                <div class="error" th:each="err : ${#fields.errors('nickname')}" th:text="${err}"></div>
                <div class="nick_check_ok"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{주소}"></dt>
            <dd>
                <input type="text" class="input_text" name="addr.zoneCode" th:field="*{addr.zoneCode}" readonly th:placeholder="#{우편번호}" id="zoneCode">
                <button type="button" class="btn search_address" th:text="#{주소_찾기}" data-zonecode-id="zoneCode" data-address-id="address"></button><br>
                <div class="error" th:each="err : ${#fields.errors('addr.zoneCode')}" th:text="${err}"></div>

                <input type="text" class="input_text" name="addr.address" th:field="*{addr.address}" readonly  th:placeholder="#{주소}" id="address">
                <input type="text" class="input_text" name="addr.addressSub" th:field="*{addr.addressSub}"   th:placeholder="#{나머지_주소}">

                <div class="error" th:each="err : ${#fields.errors('addr.address')}" th:text="${err}"></div>
                <div class="error" th:each="err : ${#fields.errors('addr.addressSub')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{프로필_이미지}"></dt>
            <dd>
                <div id="profile_image"></div>
                <button type="button" class="btn upload_files"
                        th:text="#{이미지_업로드}" data-image-only="true" data-location="profile_img"
                         data-single-file="true"></button>
            </dd>
        </dl>

        <!--추가 항목을 분리-->
        <th:block th:replace="~{front/member/_join_farmer::member}"></th:block>
        <!--추가 항목을 분리-->

        <div class="terms_title" th:text="#{회원가입_약관}"></div>
        <div class="terms" th:utext="${@utils.nl2br(siteConfig.joinTerms)}"></div>
        <div class="terms_agree">
            <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
            <label for="agree" th:text="#{회원가입_약관에_동의합니다.}"></label>

            <div class="error" style="display: block; float: none; margin: 5px;"
                 th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
        </div>
        <button type="submit" class="joinBtn" th:text="#{가입하기}"></button>
    </form>

    <script th:replace="~{common/_file_tpl::image1_tpl}"></script>

</main>
</html>