<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{로그인}"></h1>
    <form name="frmLogin" class="login_frm" method="post" th:action="@{/member/login}" autocomplete="off">
        <input type="hidden" name="redirectURL"
               th:if="${param.redirectURL != null}" th:value="${param.redirectURL}">

        <div class="tabs">
            <input type="radio" name="mType" id="member" value="M" checked>
            <label for="member" class="tab">일반회원</label>

            <input type="radio" name="mType" id="farmer" value="F">
            <label for="farmer" class="tab">농장주인 회원</label>
        </div>

        <div class="error global" th:if="${session.Global_error != null}" th:text="${session.Global_error}"></div>

        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
<!--                <input type="text" class="id_input_box" name="username" th:value="${session.username}">-->
                <input type="text" class="id_input_box" name="username" value="abc1004">
                <div class="error" th:if="${session.NotBlank_username != null}" th:text="${session.NotBlank_username}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="password" value="_aA123456">
                <div class="error" th:if="${session.NotBlank_password != null}" th:text="${session.NotBlank_password}"></div>
            </dd>
        </dl>

        <div>
            <input type="checkbox" name="autoLogin" value="true" id="autoLogin">
            <label for="autoLogin" th:text="#{자동_로그인}"></label>

            <a th:href="@{/member/find_pw}" class="find_pw" th:text="#{비밀번호_찾기}"></a>
        </div>

        <button class="loginBtn" type="submit" th:text="#{로그인}"></button>
    </form>
</main>
</html>