<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">

    <h1>주문 상세 정보</h1>

    <form name="frmOrderDetail" method="get" th:action="@{/admin/order/save}" th:object="${item.orderInfo}">
        <input type="hidden" name="seq" th:value="*{seq}">
        <input type="hidden" name="orderItemSeq" th:value="${item.seq}">

        <h2>주문 기본 정보</h2>
        <table class="table_cols mb30">
            <tr>
                <th width="310">주문번호</th>
                <td th:text="*{orderNo}"></td>
                <th width="310">주문일시</th>
                <td th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></td>
            </tr>
            <tr>
                <th>주문자 명</th>
                <td th:text="*{orderName}"></td>
                <th>주문자 이메일</th>
                <td th:text="*{orderEmail}"></td>
            </tr>
            <tr>
                <th>주문자 전화번호</th>
                <td th:text="*{orderCellphone}"></td>
                <th>배송 주소</th>
                <th:block th:if="*{addressSub == null}">
                    <td th:text="*{zoneCode + ' ' + address}"></td>
                </th:block>
                <th:block th:if="*{addressSub != null}">
                    <td th:text="*{zoneCode + ' ' + address + ' ' + addressSub}"></td>
                </th:block>
            </tr>
            <tr>
                <th width="310">결제 금액</th>
                <td th:text="*{payPrice} + '원'"></td>
                <th>주문상태</th>
                <td>
                    <select name="orderStatus" th:value="*{status}">
                        <option value="READY" th:selected="*{status.title} == '주문 접수 전'">주문 접수 전</option>
                        <option value="ORDER" th:selected="*{status.title} == '주문 접수'">주문 접수</option>
                        <option value="IN_CASH" th:selected="*{status.title} == '결제 완료'">결제 완료</option>
                        <option value="PREPARE" th:selected="*{status.title} == '상품 준비중'">상품 준비중</option>
                        <option value="DELIVERY" th:selected="*{status.title} == '배송중'">배송중</option>
                        <option value="ARRIVAL" th:selected="*{status.title} == '배송완료'">배송완료</option>
                        <option value="DONE" th:selected="*{status.title} == '주문완료'">주문완료</option>
                        <option value="CANCEL" th:selected="*{status.title} == '입금확인 전 취소'">입금확인 전 취소</option>
                        <option value="REFUND" th:selected="*{status.title} == '입금 후 취소'">입금 후 취소</option>
                        <option value="EXCHANGE" th:selected="*{status.title} == '교환'">교환</option>
                    </select>
                    <button type="submit" class="sbtn">주문 상태 변경</button>
                </td>
            </tr>
        </table>

        <h2>품목 정보</h2>
        <table class="table_cols mb30">
            <tr>
                <th width="310">상품번호</th>
                <td th:text="*{orderItems[0].product.seq}"></td>
                <th width="310">상품명</th>
                <td th:text="*{orderItems[0].product.name}"></td>
            </tr>
            <tr>
                <th>상품 단가</th>
                <td th:text="*{orderItems[0].product.salePrice + '원'}"></td>
                <th>총 상품 금액</th>
                <td th:text="*{totalPrice + '원'}"></td>
            </tr>
            <tr>
                <th>배송비</th>
                <td th:text="*{orderItems[0].product.deliveryPrice + '원'}"></td>
                <th>할인금액</th>
                <td th:text="*{totalDiscount + '원'}"></td>
            </tr>
        </table>

        <h2>배송 정보</h2>
        <table class="table_cols mb30">
            <tr>
                <th width="310">배송업체</th>
                <td>
                    <input type="text" name="deliveryCompany" th:field="${item.deliveryCompany}"
                           th:disabled="*{status.title != '배송중'}?'disabled'">
                </td>
                <th width="310">송장번호</th>
                <td>
                    <input type="text" name="deliveryInvoice" th:field="${item.deliveryInvoice}"
                           th:disabled="*{status.title != '배송중'}?'disabled'">
                </td>
            </tr>
        </table>
        <div class="submit_btns">
            <button type="submit" class="btn">주문 정보 변경</button>
        </div>
    </form>
</section>
</html>