<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div>
        <img th:src="@{농장사진}">
        <div>
            <h1 th:text="${농장이름}"></h1>
            <button type="button" th:text="#{일대일채팅}"></button>
        </div>
        <div>
            <img th:src="@{별사진링크}">
            <span th:text="${찜}"></span>
            <span th:text="${판매량}"></span>
        </div>
        <!-- 탭 구성 -->
        <div>
            <button type="submit" th:text="#{소개}" id="farmIntroduction"></button>
            <button type="submit" th:text="#{판매중}" id="farmSales"></button>
            <button type="submit" th:text="#{후기}" id="farmReview"></button>
            <button type="submit" th:text="#{소식}" id="farmSns"></button>
        </div>
        <section id="farmBlogSection">
        </section>
</main>
</html>