<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="layout_width">

    <section class="farm_main_sec" th:object="${farmer}">
        <th:block th:if="*{profileImage != null}"
                  th:utext="*{@utils.printThumb(profileImage.seq, 320, 320, 'profile_image')}">
        </th:block>
        <div class="farmInfo">
            <h1 id="farmTitle" th:text="*{farmTitle}"></h1>
            <h3 id="introSum" th:text="${introSum.introContent}">우리 농장에 오신 걸 환영합니다.</h3>
            <h4 id="sales_volume">판매량 : </h4>
        </div>
        <button type="button" class="chatBtn"><i class="xi-forum"></i> 1 : 1 문의 채팅</button>
    </section>


    <div class="tabs">
        <a href="?tab=intro" class="tab" th:classappend="${tab == 'intro'} ? 'on'">농장소개</a>
        <a href="?tab=sales" class="tab" th:classappend="${tab == 'sales'} ? 'on'">판매상품</a>
        <a href="?tab=review" class="tab" th:classappend="${tab == 'review'} ? 'on'">후기</a>
        <a href="?tab=sns" class="tab" th:classappend="${tab == 'sns'} ? 'on'">농장소식</a>
    </div>

    <div class="tab_content">
        <th:block th:if="${tab == 'intro'}">
            <th:block th:replace="~{front/blog/_intro::intro}"></th:block>
        </th:block>
        <th:block th:if="${tab == 'sales'}">
            <th:block th:replace="~{front/blog/_sales::sales}"></th:block>
        </th:block>
        <th:block th:if="${tab == 'review'}">
            <th:block th:replace="~{front/blog/_review::review}"></th:block>
        </th:block>
        <th:block th:if="${tab == 'sns'}">
            <th:block th:replace="~{front/blog/_sns::sns}"></th:block>
        </th:block>
    </div>

</main>
</html>