<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="layout_width">

    <div class="tabs">
        <a href="?tab=intro" class="tab" th:classappend="${tab == 'intro'} ? 'on'">농장소개</a>
        <a href="?tab=blog" class="tab" th:classappend="${tab == 'blog'} ? 'on'">블로그</a>
    </div>

    <div class="tab_content">
        <th:block th:if="${tab == 'intro'}">
            <th:block th:replace="~{front/blog/_intro::intro}"></th:block>
        </th:block>
        <th:block th:if="${tab == 'blog'}">
            <th:block th:replace="~{front/blog/_sns::sns}"></th:block>
        </th:block>
    </div>


</main>
</html>