.board_latest { display: flex; flex-wrap: wrap; }
.board_latest > li { width: calc(100% / 4 - 23px); border: 1px solid #d5d5d5; border-radius: 3px; margin-left: 30px; margin-bottom: 30px; }
.board_latest > li:nth-of-type(4n+1) { margin-left: 0; }

.board_latest h2 { line-height: 1; margin: 0; padding: 10px; font-weight: normal; border-bottom: 1px solid #d5d5d5; background: #f8f8f8; font-size: 1.15rem; }

.board_latest a:hover { text-decoration: underline; }
.board_latest .items > li a { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; height: 35px; width: calc(100% - 1px); line-height: 35px; padding: 0 10px; }
.board_latest .items > li + li { border-top: 1px dashed #d5d5d5; }


/* 베스트 S */
.best_zone{
    justify-content: space-between;
}
.best_items{
    width: 400px
}

.best_items h2{
    padding-left: 24px;
}

.best_item{

}


 /* 카카오 지도 S*/
.kakao_map {
    float: right;
    width: 550px;
    height: 550px;
}
/* 카카오 지도 E */
/* 베스트 E */

.title {
    text-align: center;
}


.inSeasonProducts {
    justify-content: flex-start; /* 좌측 정렬 설정 */
    flex-wrap: wrap;
    margin: 0 auto; /* 좌우 여백 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    padding: 20px 0 50px 0;
}

.prod_button {
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 계산 */
    top: 720px;

        /* size */
    width: 32px;
    height: 32px;

    /* style */
    border: none;
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
}

.prev_button {
    padding: 0 1px;
}

.next_button {
    padding: 0 0 0 992px;
}

