:root{
    --main-color: #E64848;
    --highlight-color: #C21010;
    --sub-color: #21BF73;
    --bg-color: #FFFDE3;
    --f-mkcy-f: #fff;
}

/* 여백 공통 */
.mb30 { margin-bottom: 30px; }

.dn { display: none !important; }

.image1_tpl_box { border: 1px solid #222; position: relative; width: 250px; }
.image1_tpl_box > .inner { width: 100%; height: 250px; }
.image1_tpl_box .remove { position: absolute; top: 0; right: 0; display: block; width: 15px; height: 15px; background: #222; text-align: center; line-height: 15px; cursor: pointer; }
.image1_tpl_box .remove > i { color: #fff; font-size: 1rem; }

/* 위지윅 에디터 공통 */
.ck-editor__editable { min-height: 300px; }


/* 팝업 공통 S */
#layer_dim { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.7); cursor: pointer; }
#layer_popup { position: fixed; z-index: 101; background: #fff; border-radius: 5px; overflow: hidden; }
#layer_popup iframe { border: 0; }
/* 팝업 공통 E */

/* flex 공통 */
.flex { display: flex;}
.flex.sb { justify-content: space-between;}
.flex.a { align-items: center;}

/* 상품 */
/* 상품 리스트 S*/
.contentBox{
    padding: 50px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(3, minmax(0,1fr));
    row-gap: 40px;
}
.products > a > *{
    margin-top: 7px;
}
.contentBox .products .imgBox{
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: relative;
}
.contentBox .products .imgBox img{
    width: 100%;
    height: 100%;
}
.contentBox .products .imgBox .share_btns {
    position: absolute;
    top: 10px;
    right: 10px;
}
.contentBox .products .imgBox .share_btns .save_post {
    border: none;
    background-color: inherit;
}
.contentBox .products .imgBox .share_btns .save_post {
    padding: 0;
}
.contentBox .products .imgBox .share_btns .save_post svg {
    stroke: #fff;
    cursor: pointer;
}
.product_name {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}
.font-semibold {
    font-weight: 600;
}
.text-18px {
    font-size: 18px;
}
.items-center {
    align-items: center;
}
.gap-2px {
    gap: 2px;
}
.pink{
    color: var(--main-color);
}
.discount_arrow {
    width: 14px;
    filter: invert(39%) sepia(90%) saturate(642%) hue-rotate(320deg) brightness(92%) contrast(97%);
}
.star i {
    color: var(--main-color);
}
.pagination .page.on {
    background-color: var(--main-color);
    border: none;
}
/* 상품 리스트 E*/