:root{
    --main-color: #E64848;
    --highlight-color: #C21010;
    --sub-color: #21BF73;
}

/* 여백 공통 */
.mb30 { margin-bottom: 30px; }

.dn { display: none !important; }

.image1_tpl_box { border: 1px solid #222; position: relative; width: 250px; }
.image1_tpl_box > .inner { width: 100%; height: 250px; }
.image1_tpl_box .remove { position: absolute; top: 0; right: 0; display: block; width: 15px; height: 15px; background: #222; text-align: center; line-height: 15px; cursor: pointer; }
.image1_tpl_box .remove > i { color: #fff; font-size: 1rem; }

/* 위지윅 에디터 공통 */
.ck-editor__editable { min-height: 300px; }


/* 팝업 공통 S */
#layer_dim { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.7); cursor: pointer; }
#layer_popup { position: fixed; z-index: 101; background: #fff; border-radius: 5px; overflow: hidden; }
#layer_popup iframe { border: 0; }
/* 팝업 공통 E */

/* flex 공통 */
.flex { display: flex;}
.flex.sb { justify-content: space-between;}
.flex.a { align-items: center;}
