.diary {
    max-width: 610px;
    margin-top: 50px;
}
.diary h2{
    margin-bottom: 60px;
    font-weight: 700;
    line-height: 43px;
}
.diary .edit_profile {
    height: 48px;
    width: 300px;
    margin: 38px 0 24px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(229 231 235/var(--tw-border-opacity));
    --tw-border-opacity: 1;
}
.diary .edit_profile a {
    font-size: 16px;
}
.diary .widget_tab .tabs {
    padding: 16px 20px 24px;
    border-bottom: 1px solid #e5e7eb;
}
.diary .widget_tab .tabs .tab {
    align-items: center;
    flex: 1 1 0%;
    justify-content: center;
}
.diary .widget_tab .tabs .tab label {
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
}
.diary .widget_tab .tabs .tab label:hover {
    background-color: #fff;
    color: #000;
}
.diary .widget_tab .tabs .tab:first-child label {
    padding: 0;
}
.diary .widget_tab input[type='radio']+label {
    background: #fff;
}
.diary .widget_tab .tabs input[type='radio']+label {
    background: #fff;
    color: #000;
}

.recipe_tabs .tabs { display: flex; align-items: center; }
.recipe_tabs .tabs .tab { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.recipe_tabs .tabs .tab:first-of-type { border-left: 1px solid #ccc; }

.diary .userName {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
}
.diary .profileImage img{
    width: 64px;
    height: 64px;
}

/* 탭 스타일 */
.tabs {
    list-style: none;
    display: flex;
}

.tab {
    text-decoration: none;
    /* padding: 10px 20px; */
    font-size: medium;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab input[type="radio"] {
    display: none;
}

.tab label {
    display: block;
    cursor: pointer;
    padding: 10px 20px;
}

.tab input[type="radio"]:checked + label {
    background-color: var(--highlight-color);
    color: #fff;
}

label:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* 탭 콘텐츠 */
.tab_content {
    column-gap: 15px;
    grid-template-columns: repeat(2,minmax(0,1fr));
    row-gap: 40px;
    display: grid;
}
.tab_content.on {
    display: block;
    margin-top: 20px;
}

/* 북마크 */
.bookmark .imgBox {
    width: 300px;
    height: 240px;
}
.bookmark .imgBox img {
    border-radius: 10%;
}
.bookmark .item {
    position: relative;
    text-align: center;
    font-size: 20px;
}
.bookmark .item .ingBtn {
    border: 1px solid #D3D2D2;
    background-color: rgb(229 231 235);
    padding: 5px 10px;
    font-size: small;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
.bookmark .item .ingBtn:hover {
    background-color: var(--highlight-color);
    color: #fff;
}
.bookmarkItem {
    position: relative;
}
.post_list{
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
}
.post_list a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_list a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.post_list .poster {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}
.rcpName_list {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    padding: 16px 16px 12px;
}