/*전체 정렬*/
.content{
    align-items: center;
    flex-wrap: wrap;
}
/* 제목 정렬 */
.title{
   width: 100%;
   font-size: 22px;
   font-weight: 700;
   text-align: center;
}
/* 구분선 */
.contour{
    background: #F5F5F7;
    width: 100%;
    height: 14px;
    margin-top: 40px;
    margin-bottom: 16px;
}

/* 기타 연결 처리 S */
.space > .row{
    justify-content: space-between;
    height: 80px;
    width: 100%;
    text-align: left;
    flex-wrap: wrap;
}
.sub{
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    background: #fff;
    padding: 5px 16px;
    line-height: 1;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}
.sub > p{
    flex-grow: 1;
    margin: 0;
}
.sub > i{
    line-height: 1;
    flex-shrink: 0;
    margin-left: auto;
}

.no-data{
    font-size: 18px;

}

/* 기타 연결 처리 E */
/* 다이어리 버튼 S */
.diary{
    border-radius: 10px;
    background: var(--main-color);
    padding: 5px 16px;
    line-height: 1;
    font-weight: 700;
    font-size: 18px;
}

.diary > p{
    color: #fff;
    flex-grow: 1;
}

.diary > i{
    color: #fff;
    line-height: 1;
}
/* 다이어리 버튼 E */


/* 주문내역 S */
.recentOrder >p:first-of-type{
    font-size: 22px;
    line-height: 1;
    font-weight: 700;

}
.recent{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}
.orderAll{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    background: var(--sub-color);

}

.table_order{
    width: 100%;
}

.order-no{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#price{
    text-align: right;
}

.col.farm{
    height: 30px;
    text-align: center;
}
.farm.txt{
    line-height: 28px;
}

.list-item {
    width: 100%;
    display: table;
}
.list-item .area-img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-left: 16px;
    display: table-cell;
}

.list-item .area-img .thumb {
    width: 64px;
    height: 64px;
    margin-left: 16px;
}

.list-item .area-txt {
    width: auto;
    padding-left: 8px;
    vertical-align: middle;
    overflow: hidden;
    display: table-cell;
}
.list-item .area-txt .lest-head {
    margin: 0 0 8px 0;
}
.list-item .area-txt .OrderTableCardContent_title {
    display: table;
}
.list-item .area-txt .OrderTableCardContent_title>* {
    display: table-cell;
}
.list-item .area-txt .OrderTableCardContent_title a{
    font-weight: bold;
}
.list-item .area-txt .OrderTableCardContent_title .OrderBadge{
    height: 20px;
    margin-left: 8px;
    padding: 0 6px;
}
.list-item .area-txt .OrderTableCardContent_title .OrderBadge--gray {
    background-color: #f5f5f5;
    color: #666;
}
.list-options li {
    margin-top: 3px;
    position: relative;
}
.list-options .option-text{
    float: left;
    display: block;
    width: auto;
    min-height: 16px;
    margin-right: 20px;
}
.list-options .option-count {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
}

.td-controller {
    vertical-align: middle;
    width: 180px;
}
.td-controller .col + .col {
    margin-top: 5px;
}
.td-controller .btn {
    width: 100%;
}

.OrderTableCardButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
}
.OrderTableCardButtonWrapper .OrderTableCardButtonItem {
        width: 100%;
    margin-bottom: 5px;
}


/* 주문내역 E */

.sub #point{
    flex-grow: 1;
}
#totalPnt{
    margin-top: -10px;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    color: #414b5a !important;
}

 .row {
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row > a, .row > .point, .recent_ord, .total_ord{
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

.total_pnt, .total_pnt > span {
    color: var(--sub-color);
    font-weight: bold;
}

