/* 상품 상세 S */
.product_detail { max-width: 1000px; }
.product_detail .product_main { display: flex; margin-bottom: 100px; }
.product_detail .product_main .product_images { width: 550px; margin-right: 30px; }
.product_detail .product_main .main_image img { width: 100%; }
.product_detail .product_main .product_info { flex-grow: 1; }
.product_detail .product_main .product_info .table_sale { border: none; }
.
.product_detail .thumbs { display: flex; height: 80px; margin-top: 10px; }
.product_detail .thumbs .thumb { width: 80px; border: 1px solid #222; cursor: pointer; }
.product_detail .thumbs .thumb + .thumb { margin-left: 3px; }

.product_detail .tabs { display: flex; align-items: center; }
.product_detail .tabs .tab { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.product_detail .tabs .tab:first-of-type { border-left: 1px solid #ccc; }
.product_detail .tabs .tab.on a { color: #fff; }

.product_detail .desc_content { margin: 25px 0 100px; }

.product_detail .selected_products { border: 1px solid #222; padding: 10px; border-radius: 3px; background: #f8f8f8; }
.product_detail .selected_products + .selected_products { margin-top: 5px; }
.product_detail .selected_products .product_name { font-weight: 500; font-size: 0.95rem; margin-bottom: 5px; }
.product_detail .selected_products .option_ea { display: flex; justify-content: space-between; }

.product_detail .ea_box input[type='number'] { width: 50px; text-align: right; height: 40px; border: 1px solid #d5d5d5; }
.product_detail .ea_box button { width: 40px; height: 40px; background: #222; color: #fff; cursor: pointer; border: 0; }
/* 상품 상세 E */