<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{장바구니}"></h1>
    <form name="frmCart" method="post" th:action="@{/cart}" autocomplete="off" target="ifrmProcess" th:object="${cartData}">
        <input type="hidden" name="mode" value="edit">
        <table class="cart_items">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" class="checkall" data-target-name="chk" id="checkall">
                    <label for="checkall"></label>
                </th>
                <th colspan="2" th:text="#{상품정보}"></th>
                <th th:text="#{상품가}"></th>
                <th th:text="#{수량}"></th>
                <th th:text="#{합계}"></th>
                <th th:text="#{할인}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="*{items == null || items.isEmpty()}">
                <td colspan="7" th:text="#{장바구니가_비어있습니다.}"></td>
            </tr>
            <tr th:unless="*{items == null || items.isEmpty()}"
                th:each="item, status : *{items}" th:object="${item}">
                <td>
                    <input type="hidden" th:name="${'seq_' + status.index}" th:value="*{seq}">
                    <input type="checkbox" name="chk" th:value="${status.index}" th:id="${'chk_' + status.index}">
                    <label th:for="${'chk_' + status.index}"></label>
                </td>
                <td>
                    <a th:href="@{/product/detail/{seq}(seq=*{product.seq})}">
                        <th:block th:utext="*{@utils.printThumb(listImage, 50, 50, 'product_image')}"></th:block>
                    </a>
                </td>
                <td>
                    <div class="product_name" th:text="*{product.name}"></div>
                </td>
                <td>
                    <span th:text="*{product.salePrice >= 1000 ? #numbers.formatInteger(product.salePrice, 3, 'COMMA') : product.salePrice}"></span>
                    <th:block th:text="#{원}"></th:block>
                </td>
                <td>
                    <input type="number" th:name="${'ea_' + status.index}" th:value="*{ea}">
                    <button type="button" class="change_ea down">
                        <i class="xi-minus"></i>
                    </button>
                    <button type="button" class="change_ea up">
                        <i class="xi-plus"></i>
                    </button>
                </td>
                <td>
                    <span th:text="*{totalPrice >= 1000 ? #numbers.formatInteger(totalPrice, 3, 'COMMA') : totalPrice}"></span>
                    <th:block th:text="#{원}"></th:block>
                </td>
                <td>
                    <span th:text="*{totalDiscount >= 1000 ? #numbers.formatInteger(totalDiscount, 3, 'COMMA') : totalDiscount}"></span>
                    <th:block th:text="#{원}"></th:block>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="*{items != null && !items.isEmpty()}" class="cart_summary">
            <th:block th:text="*{totalPrice >= 1000 ? #numbers.formatInteger(totalPrice, 3, 'COMMA') : totalPrice}"></th:block>(<th:block th:text="#{상품합계}"></th:block>)

            <i class="xi-plus"></i>

            <th:block th:text="*{totalDeliveryPrice >= 1000 ? #numbers.formatInteger(totalDeliveryPrice, 3, 'COMMA') : totalDeliveryPrice}"></th:block>(<th:block th:text="#{배송비}"></th:block>)

            <i class="xi-minus"></i>

            <th:block th:text="*{totalDiscount >= 1000 ? #numbers.formatInteger(totalDiscount, 3, 'COMMA') : totalDiscount}"></th:block>(<th:block th:text="#{할인합계}"></th:block>)

            <i>=</i>

            <th:block th:text="*{payPrice >= 1000 ? #numbers.formatInteger(payPrice, 3, 'COMMA') : payPrice}"></th:block>(<th:block th:text="#{결제금액}"></th:block>)
        </div>
        <!--// cart_summary -->
        <div class="action_btns">
            <button type="button" class="cart_action" data-mode="delete" th:text="#{선택_상품_삭제}"></button>
            <button type="button" class="cart_action" data-mode="delete_all" th:text="#{전체_상품_삭제}"></button>

            <button type="button" class="cart_action" data-mode="edit" th:text="#{선택_상품_수정}"></button>

            <button type="button" class="cart_action" data-mode="order" th:text="#{선택_상품_주문}"></button>
            <button type="button" class="cart_action" data-mode="order_all" th:text="#{전체_상품_주문}"></button>
        </div>
    </form>
</main>
</html>