@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; color: #000; box-sizing: border-box; outline: none; }
:root{
    --main-color: #596b99;
}
.footerInfoSect {
    display: flex;
    width: 1400px;
    position: relative;
    margin: 0 auto;
    padding: 40px 0 30px;
    text-align: left;
    font-size: 14px;
    }
.footerBox1 {
    margin: 16px 32px 0 0;
}
.footerBox2 {
    margin: 32px 32px 0px 200px;
    }
.product_search { /* 검색창 */
    margin: 20px 0 20px 0;
    text-align: center;
}
.loginPlz{ /* 로그인 회원가입 장바구니 */
    text-align: right;
    padding: 0 500px 0 0;
    font-size: 15px;
}
.loginPlz a:nth-child(1) {
    margin-right: 10px; /* 회원가입창 */
}
.loginPlz a:nth-child(2) {
    margin-right: 10px; /* 로그인창 */
}
.cate_all {
    text-align: center; /* 카테고리 */
}
.cate_all a {
    display: inline-block; /* 카테고리 */
    margin: 20px 50px 20px 0; /* 각 링크 사이의 간격 조절 */
}