@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; color: #000; box-sizing: border-box; outline: none; }
:root{
    --main-color: #596b99;
}
/* 타이틀 사진 */
.logo {
    position: absolute;
    top: 57px;
    left: 0;
    display: flex;
    height: 30px;
}
.logo a {
    display: inline-flex;
    align-items: center;
}
.idMenu, .loginPlz {
    position: absolute;
    right: 0;
    top: 52px;
    display: flex;
}

html { font-size: 13px; }
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }

dl { display: flex; }
dt { width: 180px; }
dd { flex-grow: 1; }

.layout_width {
    max-width : 1300px;
    min-width : 1000px;
    margin : 0 auto;
}

/* 페이징 공통 S */
.pagination { text-align: center; margin: 30px 0; }
.pagination .page { border: 1px solid var(--main-color); color: var(--main-color); display: inline-block; padding: 5px 10px; border-radius: 3px; background: #fff; }
.pagination .page.on { background: var(--main-color); color: #fff; }
.pagination .page + .page { margin-left: 3px; }
/* 페이징 공통 E */

/* 헤더 공통 S */
header .site_top { background: #f8f8f8; border-bottom: 1px solid #d5d5d5; }
header .site_top > div { text-align: right; height: 30px; line-height: 30px; }
header .site_top a { margin-left: 15px; }
header .site_top a:hover { text-decoration: underline; }

header .logo_search > div { display: flex; align-items: center; justify-content: space-between; height: 100px; }
header .logo_search .search { display: flex; }

header nav { background: #596b99; }
header nav > .inner a { display: inline-block; height: 45px; line-height: 45px; padding: 0 25px; min-width: 120px; text-align: center; color: #fff; font-size: 1.35rem; }
header nav > .inner a:hover { background: #222; }
/* 헤더 공통 E */

/* 입력 항목 공통 S
input[type='text'],
input[type='password'],
input[type='email'] { width: 10%; height: 40px; padding: 0 10px; border: 1px solid #d5d5d5; border-radius: 3px; }
select { height: 40px; border: 1px solid #d5d5d5; border-radius: 3px; }
입력 항목 공통 E */

/* 중간 정렬? */
.max-w-screen-lg{
    max-width : 1024px;
}
.flex {
    display : flex;
    justify-content : center;
}
.ma {
    margin : auto;
}
.flex-1 {
flex : 1 1 0%
}
/* 중간 정렬? E*/

.footerInfoSect {
    display: flex;
    width: 1400px;
    position: relative;
    margin: 0 auto;
    padding: 40px 0 30px 100px;
    text-align: left;
    font-size: 14px;
    }
.footerBox1 {
    margin: 16px 32px 0 0;
}
.footerBox2 {
    margin: 32px 32px 0px 200px;
    }
.product_search { /* 검색창 */
    margin: 20px 0 20px 0;
    text-align: center;
}
.loginPlz{ /* 로그인 회원가입 장바구니 */
    text-align: center;
    font-size: 15px;
}
.loginPlz a:nth-child(1) {
    margin-right: 10px; /* 회원가입창 */
}
.loginPlz a:nth-child(2) {
    margin-right: 10px; /* 로그인창 */
}
.cate_all {
    text-align: center; /* 카테고리 */
}
.cate_all a {
    font-size: 20px;
    display: inline-block; /* 카테고리 */
    margin: 20px 30px; /* 각 링크 사이의 간격 조절 */
}
.selectSearch { /* Select필드 */
    width: 70px;
}

.box1 { /* 서비스 이용약관 */
    text-align: left;
    margin: 50px 500px 50px 500px;
}

.box2 { /* 서비스 이용약관 */
    text-align: center;
}

.box3 { /* 개인정보 처리방침 */
    text-align: left;
    margin: 50px 500px 50px 500px;
}
.box4 { /* 개인정보 처리방침 */
    text-align: center;
}
 /* 카카오 지도 S*/
.kakao_map {
    float: right;
    margin: 20px 600px 20px 100px;
}
/* 카카오 지도 E */
/* main - 지도 옆 best S */
.main_best {
    text-align: right;
    font-size: 30px;
    margin: 100px;
}
.main_best > li a {
     display: inline-block;
     margin-bottom: 20px;
}
.main_best > li {
    list-style-type: none;
}
/* main - 지도 옆 best E */

/* main - 배너 슬라이드 S */
.slide {
  /* layout */
  margin : auto;
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 1024px;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
.slide_item {
  /* layout */
  display: flex;
  align-items: center;
  /*justify-content: center;*/

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 250px;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;
  overflow: hidden;

  /* transition */
  transition: left 0.5s;
}
.slide_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}
/* main - 배너 슬라이드 E */

.faq-container {
  max-width: 700px;
  margin: 0 auto;
}

.faq {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq-top {
  text-align: center;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  margin: 30px 0 0;
  transition: all 0.5s;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}


.faq > .faq-toggle > .xi-angle-down{
    display: block;
}

.faq.active .faq-toggle .xi-angle-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}

.hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.faq-container

.faq-container .hidden .xi-angle-up { display: none; }
.faq-container .hidden .xi-angle-down { display: inline; }

.idMenu > span {
    margin-right: 50px;
}

.idMenu > a {
    margin-right: 10px; /* 나머지 요소들 사이의 오른쪽 간격을 10px로 조절 */
}

.service {
    text-decoration: underline;
}



.search-container {
    position: relative;
    width: fit-content; /* 내용의 크기에 맞게 넓이 지정 */
    margin: 20px auto; /* 수평 가운데 정렬 및 위아래 여백 추가 */
}

.form_list_input input[type="text"] {
        width: 500px; /* 원하는 너비로 조절 */
        border-color: #e96c7c; /* 테두리 없애기 */
        border-radius: 50px; /* 테두리 없앴을 때의 둥글기 정도 */
        padding: 20px; /* 필요에 따라 내부 여백을 조절할 수 있습니다. */
		color: black;
		border-width: 3px; /* 테두리의 두께 조절 */
    }

    .form_list_input input[type="text"]::placeholder {
        color: gray; /* placeholder 텍스트의 색상을 흰색으로 지정 */
        font-size: 15px;
    }

    .enter_btn::before {
        content: '\1F50E'; /* 돋보기 아이콘(유니코드) */
        font-size: 15px; /* 아이콘 크기 조절 */
        margin-right: 20px; /* 아이콘과 텍스트 사이의 간격 조절 */
    }

    .enter_btn {
        position: absolute;
        top: 50%;
        right: 5px; /* 원하는 위치 조절 */
        transform: translateY(-50%);
        padding: 5px;
        background-color: white; /* 버튼의 배경색을 원하는 색상으로 지정/
        color: white; /* 버튼 텍스트 색상을 흰색으로 지정 */
        border: none; /* 테두리 없애기 */
        border-radius: 5px; /* 테두리 둥글기 정도 조절 */
        cursor: pointer;
    }