<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section class="rank-sec" name="recipeRank" th:fragment="recipe">
    <div class="max-w-screen-lg flex ma" th:each="recipe : ${recipes}" th:object="${recipe}">
        <!--<img class="rank-img" th:src="랭킹사진링크">-->
        <a th:href="@{/recipe/view/{seq}(seq=*{seq})}">
            <div>
                <strong type="text" th:text="*{rcpName}"></strong>
                <div th:if="*{requiredIngP != null}" th:each="required : *{requiredIngP}">
                    <span th:text="${required}"></span>
                </div>
            </div>
            <p th:text="${recipeCount.get(recipe)}"></p>
            <div class="imgBox">
                <th:block th:if="*{mainImages != null && !mainImages.isEmpty()}" th:utext="*{@utils.printThumb(mainImages[0].seq, 500, 500)}"></th:block>
            </div>
            <p th:text="*{member.nickname}"></p>
        </a>
    </div>
</section>
</html>