<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="farm">
    <div class="max-w-screen-lg ma">
        <div class="flex" th:each="farm, status : *{farmers}" th:object="${farm}">
            <a th:href="@{/farm/blog/{id}(id=*{userId})}">
                <div th:text="${status.count}"></div>
                <div>
                    <span th:text="*{salePoint}"></span>
                </div>
                <!--<p th:text="#{찜}"></p>-->
                <div class="imgBox">
                    <th:block th:if="*{profileImage != null}" th:utext="*{@utils.printThumb(profileImage.seq, 100, 100)}"></th:block>
                    <th:block th:unless="*{profileImage != null}" width="100" height="100"></th:block>
                </div>
                <p th:text="*{farmTitle}"></p>
            </a>
        </div>
    </div>
</section>
</html>