<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <section th:fragment="mainMenu">
        <a th:href="@{/cate/all}" th:text="#{전체_카테고리}"></a>
        <a th:href="@{/best}" th:text="#{Best}"></a>
        <a th:href="@{/cate/grain}" th:text="#{곡물}"></a>
        <a th:href="@{/cate/vegetable}" th:text="#{채소}"></a>
        <a th:href="@{/cate/fruit}" th:text="#{과일}"></a>
        <a th:href="@{/recipe}" th:text="#{레시피}"></a>
        <a th:href="@{/board/faq}" th:text="#{자주_묻는_질문}"></a>
    </section>
</html>