<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <section th:fragment="mainMenu">
        <div class="cate_all">
            <a th:href="@{/best}" th:text="#{BEST}"></a>
            <a th:href="@{/product/GRAIN}" th:text="#{곡물}"></a>
            <a th:href="@{/product/VEGETABLE}" th:text="#{채소}"></a>
            <a th:href="@{/product/FRUIT}" th:text="#{과일}"></a>
            <a th:href="@{/recipe}" th:text="#{레시피}"></a>
            <a th:href="@{/faq}" th:text="#{자주_묻는_질문}"></a>
        </div>
    </section>
</html>