<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="common">
        <div class="headerWrap">
            <div class="logo">
                <a th:href="@{/}"> <!-- 메인 로고 부분-->
                    <img th:src="@{/image/title.png}" height="80"/>
                </a>
            </div>
            <!--검색창 폼-->
            <div class="searchBox">
                <form class="searchFrm" name="searchFrm" th:action="@{/search/result}">
                    <div class="search_container">
                        <div class="form_list_input">
                            <input type="text" name="name" placeholder="찾고 싶은 상품을 검색해보세요!" size="40">
                            <button class="enter_btn" type="submit"></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="user">
                <div class="loginPlz">
                    <th:block sec:authorize="isAnonymous()"> <!-- 미 로그인 상태 -->
                        <a th:href="@{/member/login}" th:text="#{로그인}"></a>
                        <a th:href="@{/member/join}" th:text="#{회원가입}"></a>
                        <a th:href="@{/cart}" th:text="#{장바구니}"></a>
                        <a th:href="@{/member/not}" th:text="#{비회원_주문조회}"></a>
                    </th:block>
                </div>
                <th:block sec:authorize="isAuthenticated()"> <!-- 로그인 상태 -->

                    <div class="idMenu">
                        <div class="flex">
                            <th:block class="profile_image" th:if="${session.member.profileImage != null}"
                                      th:utext="${@utils.printThumb(session.member.profileImage.seq, 80, 80, 'profile_image')}">
                            </th:block>
                            <div th:text="${#messages.msg('LOGIN_MSG', session.member.username, session.member.userId)}"></div>
                        </div>
                        <a th:href="@{/cart}" th:text="#{장바구니}"></a>
                        <a th:href="@{/mypage}" th:text="#{마이페이지}"></a>
                        <a th:if="${@memberUtil.isFarmer()}" th:href="@{/farmer}" th:text="#{관리페이지}"></a>
                        <a th:href="@{/member/logout}" th:text="#{로그아웃}"></a>
                        <a sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" th:href="@{/admin}" th:text="#{사이트_관리}"></a>
                    </div>
                </th:block>
            </div>
        </div>
    </header>
</html>